Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

run tools/post-release-translation-merge.sh
  po/_posts.zh_Hans.po
Due: none

TWIF 2026-01-29
  _posts/2026-01-29-twif.md
Due: YAML Front Matter

gitlab-ci: handle https: upgrade for all Debian releases
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_pages.cs.po
Due: none

Translated using Weblate: Italian (it) by sofia <badpazzword@gmail.com>
  po/_pages.it.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_docs.id.po
  po/_pages.id.po
  po/_posts.id.po
Due: none

Translated using Weblate: Spanish (es) by Nicolás Pérez <nicoperez241@proton.me>
  _data/es/strings.json
  po/_pages.es.po
  po/_posts.es.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by cacu <carlosm2@riseup.net>
  po/_pages.es.po
Due: none

Translated using Weblate: Spanish (es) by Nicolás Pérez <ccnicolasperez@gmail.com>
  po/_pages.es.po
Due: none

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  _data/ca/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Nicolás Pérez <ccnicolasperez@gmail.com>
  po/_posts.es.po
Due: none

Translated using Weblate: French (fr) by Florian <vagabond0896@users.noreply.hosted.weblate.org>
  po/_docs.fr.po
  po/_posts.fr.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/tutorials.json
  po/_pages.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: German (de) by Timo Panda <pandoroo@users.noreply.hosted.weblate.org>
  po/_pages.de.po
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_pages.de.po
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  _data/de/strings.json
  po/_docs.de.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  _data/de/tutorials.json
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_pages.fr.po
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_posts.de.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by XblateX <blate@users.noreply.hosted.weblate.org>
  po/_posts.uk.po
Due: none

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  po/_docs.es.po
  po/_posts.es.po
  po/_posts.es_MX.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Russian (ru) by relan <relan@airpost.net>
  po/_pages.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Russian (ru) by UserPro <userpro@users.noreply.hosted.weblate.org>
  po/_pages.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: Polish (pl) by Wiesław Fijołek <percival@users.noreply.hosted.weblate.org>
  po/_posts.pl.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
Due: weblate merge conflict

TWIF 2026-02-09
  _posts/2026-02-09-twif.md
Due: YAML Front Matter

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
  po/_docs.he.po
  po/_pages.he.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by cacu <carlosm2@riseup.net>
  po/_docs.es.po
Due: none

Translated using Weblate: Spanish (es) by Francisco Serrador <fserrador@gmail.com>
  po/_docs.es.po
Due: none

Translated using Weblate: Spanish (es) by Nicolás Pérez <nicoperez241@proton.me>
  _data/es/strings.json
  po/_docs.es.po
  po/_posts.es.po
Due: weblate merge conflict

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
