Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Legal5 - reword 2 lines
  _posts/2025-10-21-navigating-the-digital-markets-act-digital-services-act-and-the-online-safety-act.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

run tools/post-release-translation-merge.sh
  po/_pages.it.po
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.zh_Hant.po
Due: none

remove obsolete strings
  po/_pages.it.po
Due: none

TWIF 2025-10-24
  _posts/2025-10-24-twif.md
Due: YAML Front Matter

Sideloading post
  _posts/2025-10-28-sideloading.md
Due: YAML Front Matter

Translated using Weblate: German (de) by full name <hosted-weblate.5w160@dralias.com>
  po/_posts.de.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
  po/_pages.ja.po
Due: none

Translated using Weblate: Korean (ko) by 안세훈 <on9686@gmail.com>
  po/_docs.ko.po
  po/_pages.ko.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_docs.fr.po
  po/_posts.fr.po
Due: none

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  _data/tr/strings.json
  po/_pages.tr.po
Due: weblate merge conflict

run tools/check-do-not-translate
  po/_docs.ja.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  po/_docs.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by The Cats <philosoph@danwin1210.de>
  po/_posts.pt_BR.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.de.po
Due: none

Translated using Weblate: French (fr) by acress1 <cress1@atcat.fr>
  po/_posts.fr.po
Due: none

run ./tools/i18n.sh --all
  po/_posts.fr.po
Due: none

TWIF 2025-10-30
  _posts/2025-10-30-twif.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Ray <ray@users.noreply.hosted.weblate.org>
  _data/zh_Hant/strings.json
  po/_posts.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Nico <n2778370@gmail.com>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_docs.ro.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_docs.id.po
  po/_posts.id.po
Due: none

fix page links
  po/_posts.id.po
Due: none

TWIF 2025-11-06
  _posts/2025-11-06-twif.md
Due: YAML Front Matter

Edit 2025-11-06-twif.md
  _posts/2025-11-06-twif.md
Due: YAML Front Matter

TWIF 2025-11-13
  _posts/2025-11-13-twif.md
Due: YAML Front Matter

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  po/_docs.ru.po
Due: none

tools/check-do-not-translate
  po/_docs.ru.po
Due: none

Reproducible Builds: issuetracker.google.com no longer requires login
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Reproducible Builds: add link to another DEX/CPU count issue
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

TWIF 2025-11-20
  _posts/2025-11-20-twif.md
Due: YAML Front Matter

Build Metadata Reference: update Repo: docs for git-only
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

Translated using Weblate: Turkish (tr) by Bora Atıcı <boratici.acc@gmail.com>
  _data/tr/strings.json
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by mahmutozcan <mahmutozcan@protonmail.com>
  po/_docs.tr.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
