Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  po/_pages.is.po
Due: none

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  po/_docs.ca.po
Due: none

Translated using Weblate: Swahili (sw) by Faith Uniter <faithuniterh@tutanota.com>
  _data/sw/strings.json
Due: weblate merge conflict

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  po/_posts.ca.po
Due: none

Translated using Weblate: Catalan (ca) by trikaphundo <trikaphundo@users.noreply.hosted.weblate.org>
  po/_pages.ca.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict

Added translation using Weblate: Catalan (ca) by linsui <linsui@inbox.lv>
  po/_docs.ca.po
Due: none

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  po/_pages.id.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  po/_posts.ru.po
Due: none

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  po/_pages.sq.po
Due: none

sed -i "s,; mandatory if your app doesn't include any png icon,," */*.md po/*.po*
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

fix format strings
  _data/sq/strings.json
  _data/sw/strings.json
Due: weblate merge conflict

fix page links
  po/_docs.ru.po
  po/_pages.ca.po
  po/_pages.fr.po
  po/_posts.de.po
  po/_posts.ru.po
Due: none

Show app author regardless of whether email is set
  _layouts/package.html
Due: none

404: Add note about app archival.
  _pages/404.md
Due: YAML Front Matter

TWIF 2024-11-28
  _posts/2024-11-28-twif.md
Due: YAML Front Matter

Add cc-call post
  .spelling
  _posts/2024-12-01-call-for-community-council-nominations.md
Due: YAML Front Matter

add avatar from https://gitlab.com/Marie-Joseph
  assets/Juliana Sims.jpg
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_docs.es.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_pages.es.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_posts.ru.po
Due: none

Translated using Weblate: Catalan (ca) by fadelkon <fadelkon@posteo.net>
  _data/ca/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by WebSnke <websnke@tutanota.com>
  po/_posts.de.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_pages.ru.po
Due: none

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  po/_pages.ca.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_pages.zh_Hans.po
Due: none
