Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Spanish (es) by Maxxcan Fox <maxxcan@disroot.org>
  po/_posts.es.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Ray <ray@users.noreply.hosted.weblate.org>
  _data/zh_Hant/strings.json
  po/_posts.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_posts.id.po
Due: none

run tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.ja.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.it.po
  po/_docs.ko.po
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
Due: none

run tools/check-do-not-translate
  po/_docs.it.po
  po/_docs.ko.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by The Cats <philosoph@danwin1210.de>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_posts.uk.po
Due: none

fix page links
  po/_posts.pt_BR.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.es.po
  po/_posts.fr.po
  po/_posts.id.po
  po/_posts.zh_Hant.po
Due: none

TWIF 2025-10-09
  _posts/2025-10-09-twif.md
Due: YAML Front Matter

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

Revert blanked out strings in Albanian (sq)
  _data/sq/strings.json
Due: weblate merge conflict

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  po/_docs.fa.po
Due: none

run tools/check-do-not-translate
  po/_docs.fa.po
Due: none

Consulting | Removed "COTECH" which not longer exist and was merged into "Heylogin"
  _pages/consulting.md
Due: YAML Front Matter

Hopefully fix layout caching bug in pagination
  Gemfile
Due: none

TWIF 2025-10-17
  _posts/2025-10-17-twif.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Ral Hole <ral-hole@outlook.com>
  _data/zh_Hans/strings.json
  po/_docs.zh_Hans.po
Due: weblate merge conflict

Translated using Weblate: German (de) by Blubberland <github@alias.kardansch.de>
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Polish (pl) by Daniel Wuzetka <32z2tcp8@anonaddy.me>
  po/_docs.pl.po
  po/_pages.pl.po
  po/_posts.pl.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by T1z3n <info@njbraun.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.fa.po
  po/_pages.ar.po
  po/_pages.bg.po
  po/_pages.bn.po
  po/_pages.bo.po
  po/_pages.ca.po
  po/_pages.cs.po
  po/_pages.es.po
  po/_pages.et.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fi.po
  po/_pages.fr.po
  po/_pages.gd.po
  po/_pages.gl.po
  po/_pages.he.po
  po/_pages.hi.po
  po/_pages.hu.po
  po/_pages.id.po
  po/_pages.is.po
  po/_pages.ja.po
  po/_pages.ko.po
  po/_pages.lv.po
  po/_pages.nb.po
  po/_pages.nn.po
  po/_pages.pot
  po/_pages.pt.po
  po/_pages.pt_BR.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.ta.po
  po/_pages.te.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.vi.po
  po/_pages.zh_Hans.po
  po/_pages.zh_Hant.po
Due: none

run tools/check-do-not-translate
  po/_docs.fa.po
  po/_pages.ar.po
  po/_pages.bn.po
  po/_pages.ca.po
  po/_pages.cs.po
  po/_pages.es.po
  po/_pages.et.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fi.po
  po/_pages.fr.po
  po/_pages.gd.po
  po/_pages.gl.po
  po/_pages.he.po
  po/_pages.hi.po
  po/_pages.hu.po
  po/_pages.id.po
  po/_pages.is.po
  po/_pages.ja.po
  po/_pages.ko.po
  po/_pages.nb.po
  po/_pages.nn.po
  po/_pages.pt.po
  po/_pages.pt_BR.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.ta.po
  po/_pages.te.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.vi.po
  po/_pages.zh_Hans.po
  po/_pages.zh_Hant.po
Due: none

Use `normalize_whitespace` for head meta description to convert line breaks to a space
  _includes/head.html
Due: none

Legal Series - Five
  _posts/2025-10-21-navigating-the-digital-markets-act-digital-services-act-and-the-online-safety-act.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Ray <ray@users.noreply.hosted.weblate.org>
  _data/zh_Hant/strings.json
  po/_docs.zh_Hant.po
  po/_pages.zh_Hant.po
  po/_posts.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by Lzebulon <lzebulon@crans.org>
  po/_docs.fr.po
Due: none

Translated using Weblate: Italian (it) by coronabond <coronabond@airmail.cc>
  po/_docs.it.po
  po/_pages.it.po
  po/_posts.it.po
Due: none

Translated using Weblate: French (fr) by acress1 <cress1@atcat.fr>
  po/_docs.fr.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: French (fr) by Jonathan Rochat <jonathan.rochat@proton.me>
  po/_posts.fr.po
Due: none

run tools/check-do-not-translate
  po/_docs.fr.po
Due: none

run tools/post-release-translation-merge.sh
  po/_pages.de.po
  po/_pages.pl.po
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
Due: none

remove obsolete strings
  po/_pages.de.po
  po/_pages.pl.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
