Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/tutorials.json
  po/_docs.ar.po
  po/_pages.ar.po
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  po/_pages.id.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  po/_docs.pl.po
  po/_pages.pl.po
  po/_posts.pl.po
Due: none

Translated using Weblate: Polish (pl) by Kuba <weblate.undercut450@passmail.net>
  po/_posts.pl.po
Due: none

remove old unused strings
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.is.po
  po/_docs.ja.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_pages.hi.po
  po/_pages.hr.po
  po/_pages.lv.po
  po/_pages.te.po
  po/_posts.lv.po
Due: none

TWIF 2025-07-03
  _posts/2025-07-03-twif.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  po/_docs.ar.po
  po/_pages.ar.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
  po/_docs.fr.po
  po/_pages.fr.po
  po/_posts.fr.po
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Eren DİKKÜLAH <erendikkulah@gmail.com>
  _data/tr/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
Due: none

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  _data/hu/strings.json
  po/_posts.hu.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by rollsicecream <153316540+rollsicecream@users.noreply.github.com>
  po/_posts.fr.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

fix page links
  po/_posts.fr.po
Due: none

Add recently created app categories
  _config.yml
  _data/strings.json
  _docs/Build_Metadata_Reference.md
Due: weblate merge conflict, YAML Front Matter, yamllint

Remove references to pyvenv from fdroidserver installation guide
  _docs/Installing_the_Server_and_Repo_Tools.md
Due: YAML Front Matter

Replace "pyvenv" with "venv" in .spelling
  .spelling
Due: none

Update check-do-not-translate to refer to venv instead of pyvenv
  tools/check-do-not-translate
Due: none

Installing the Server and Repo Tools: spelling updates
  .spelling
  _docs/Installing_the_Server_and_Repo_Tools.md
Due: YAML Front Matter

Installing the Server and Repo Tools: markdownlint fixes
  _docs/Installing_the_Server_and_Repo_Tools.md
Due: YAML Front Matter

Installing the Server and Repo Tools: purge/update obsolete things
  _docs/Installing_the_Server_and_Repo_Tools.md
Due: YAML Front Matter

Translated using Weblate: Tamil (ta) by தமிழ்நேரம் <anishprabu.t@gmail.com>
  _data/ta/strings.json
  po/_pages.ta.po
  po/_posts.ta.po
Due: weblate merge conflict

Translated using Weblate: Bulgarian (bg) by 109247019824 <109247019824@users.noreply.hosted.weblate.org>
  _data/bg/strings.json
  po/_pages.bg.po
Due: weblate merge conflict

Fixes by Hans-Christoph Steiner <hans@guardianproject.info>
  _data/bg/strings.json
  po/_posts.ta.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_posts.ta.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Tamil (ta) by தமிழ்நேரம் <anishprabu.t@gmail.com>
  po/_pages.ta.po
  po/_posts.ta.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim5@gmail.com>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by M374LX <wilsalx@gmail.com>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
  po/_docs.fr.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
Due: weblate merge conflict

fix page links
  po/_pages.ta.po
  po/_posts.ta.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
  po/_posts.fr.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
