Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
  po/_posts.ja.po
Due: none

Translated using Weblate: Spanish (es) by Juan Benites <benitesjn@gmail.com>
  po/_pages.es.po
Due: none

sed -i 's,\]\\\\(,](,g' po/*.*
  po/_pages.es.po
Due: none

run tools/check-do-not-translate
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.es.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.pl.po
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

Deprecate 6.0 in Running_on_old_Android_versions
  _docs/Running_on_old_Android_versions.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_posts.de.po
Due: none

Translated using Weblate: Japanese (ja) by Sugisugi <xiongdayiteng4@gmail.com>
  po/_posts.ja.po
Due: none

Translated using Weblate: Hebrew (he) by Idan <idan062@gmail.com>
  _data/he/strings.json
  po/_docs.he.po
  po/_pages.he.po
Due: weblate merge conflict

Translated using Weblate: German (de) by chriz <chriz_dev@proton.me>
  po/_posts.de.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_posts.ja.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by The Cats <philosoph@danwin1210.de>
  po/_docs.pt_BR.po
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Turkish (tr) by Ümit Solmz <solmazumit1@yandex.com>
  po/_posts.tr.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_docs.he.po
Due: none

Translated using Weblate: Hebrew (he) by Idan <idan062@gmail.com>
  po/_docs.he.po
  po/_posts.he.po
Due: none

Translated using Weblate: Hebrew (he) by Daniel Jacob Butcher <corpo@quokka.wiki>
  po/_posts.he.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_posts.he.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by kak mi <wavelake@outlook.com>
  po/_posts.zh_Hans.po
Due: none

download button as v2.0.1
  .htaccess
Due: none

switch front page screenshot to 2.0.1
  assets/fdroid-screenshot-af.png
  assets/fdroid-screenshot-ar.png
  assets/fdroid-screenshot-bo.png
  assets/fdroid-screenshot-ca.png
  assets/fdroid-screenshot-cs.png
  assets/fdroid-screenshot-de.png
  assets/fdroid-screenshot-el.png
  assets/fdroid-screenshot-en.png
  assets/fdroid-screenshot-es.png
  assets/fdroid-screenshot-eu.png
  assets/fdroid-screenshot-fa.png
  assets/fdroid-screenshot-fr.png
  assets/fdroid-screenshot-hr.png
  assets/fdroid-screenshot-hu.png
  assets/fdroid-screenshot-it.png
  assets/fdroid-screenshot-ja.png
  assets/fdroid-screenshot-ko.png
  assets/fdroid-screenshot-nl.png
  assets/fdroid-screenshot-pl.png
  assets/fdroid-screenshot-pt-BR.png
  assets/fdroid-screenshot-pt.png
  assets/fdroid-screenshot-ro.png
  assets/fdroid-screenshot-ru.png
  assets/fdroid-screenshot-sq.png
  assets/fdroid-screenshot-sv.png
  assets/fdroid-screenshot-tr.png
  assets/fdroid-screenshot-uk.png
  assets/fdroid-screenshot-vi.png
  assets/fdroid-screenshot-zh-TW.png
  assets/fdroid-screenshot-zh.png
Due: none

keep assets/fdroid-screenshot-bo.png, there is something magic about it
  assets/fdroid-screenshot-bo.png
Due: none

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  po/_pages.hu.po
Due: none

All our APIs: point people to the index for installing verified apps
  _docs/All_our_APIs.md
Due: YAML Front Matter

Added the board details
  _pages/about.md
Due: YAML Front Matter

Taking F-Droid to IndiaFOSS
  _posts/2026-10-02-fdroid-first-indiafoss-2026.md
Due: YAML Front Matter

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  _data/fa/strings.json
  po/_pages.fa.po
Due: weblate merge conflict
