Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Spanish (es) by José Manuel Díaz Tenorio <josemanueldiaztenorio267@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by emma peel <emma.peel@riseup.net>
  po/_docs.es.po
  po/_posts.es.po
  po/_posts.fr.po
  po/_posts.pl.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  po/_pages.ru.po
Due: none

Translated using Weblate: Polish (pl) by Bartosz <yelloistaken@users.noreply.hosted.weblate.org>
  po/_pages.pl.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Rafael Fontenelle <rafaelff@gnome.org>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Kairos <private.snazzy673@simplelogin.com>
  po/_docs.pt_BR.po
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Indonesian (id) by StarSkyGeminid <akungithubku@gmail.com>
  po/_docs.id.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: German (de) by Ingo Knito <hosted.weblate.imnetz@neverbox.com>
  po/_docs.de.po
Due: none

Translated using Weblate: French (fr) by moeenio <37651007+moeenio@users.noreply.github.com>
  _data/fr/strings.json
  po/_docs.fr.po
  po/_pages.fr.po
  po/_posts.fr.po
Due: weblate merge conflict

fix page links
  po/_docs.id.po
Due: none

Add banner alerting users to Google developer verification scheme and how it impacts F-Droid.
  _data/strings.json
  _includes/banner.html
  _layouts/default.html
  _sass/_layout.scss
Due: weblate merge conflict

Translated using Weblate: German (de) by Timo Panda <pandoroo@users.noreply.hosted.weblate.org>
  po/_pages.de.po
Due: none

Translated using Weblate: Polish (pl) by Wiesław Fijołek <percival@users.noreply.hosted.weblate.org>
  po/_pages.pl.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_pages.de.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Kairos <private.snazzy673@simplelogin.com>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Italian (it) by Catana <ctx@etik.com>
  po/_posts.it.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Ray <ray@users.noreply.hosted.weblate.org>
  _data/zh_Hant/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
Due: weblate merge conflict

about.md - fix biboumi link
  _pages/about.md
Due: YAML Front Matter

Move JS to .js file instead of inline script to satisfy CSP.
  _includes/banner.html
  js/banner.js
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  _data/de/strings.json
  po/_pages.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
Due: weblate merge conflict

Update file contributors.yaml
  _data/contributors.yaml
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

point keepandroidopenUrl to static URL for the right language
  _data/cs/strings.json
  _data/de/strings.json
  _data/es/strings.json
  _data/fr/strings.json
  _data/id/strings.json
  _data/it/strings.json
  _data/ko/strings.json
  _data/pt/strings.json
  _data/pt_BR/strings.json
  _data/sk/strings.json
  _data/tr/strings.json
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Pavel Borecki <pavel.borecki@gmail.com>
  po/_posts.cs.po
Due: none

Translated using Weblate: French (fr) by Ἥλιος <mu6mj1y62@mozmail.com>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Hungarian (hu) by Romhányi-Kakucska Viktor <viktor@romhanyi.dev>
  _data/hu/strings.json
Due: weblate merge conflict

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  _data/fa/strings.json
Due: weblate merge conflict
