Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

save the translators a little work from !1505
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

fairphone broke the links to old blog posts, use web.archive.org
  _posts/2018-01-24-fairphone-open-ships-F-Droid.md
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.ta.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: YAML Front Matter

Add post about how to add repos in ROMs
  _posts/2026-03-28-how-to-include-repos-in-rom.md
Due: YAML Front Matter

TWIF 2026-03-27
  _posts/2026-03-27-twif.md
Due: YAML Front Matter

2026-03-27-twif - typo
  _posts/2026-03-27-twif.md
Due: YAML Front Matter

Update default version to latest
  .htaccess
Due: none

Post about Croatian translation
  _posts/2026-03-31-new-language-croatian.md
  assets/milotype.jpg
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  _data/de/strings.json
  po/_docs.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
  po/_docs.zh_Hans.po
  po/_posts.zh_Hans.po
Due: weblate merge conflict

add "Government Requests" page
  _docs/Government_Requests.md
  _pages/docs.md
Due: YAML Front Matter

Edit contributors.yaml - Turkish Translator
  _data/contributors.yaml
Due: none

docs: add section explaining which install method most users should choose
  _docs/Get_F-Droid.md
Due: YAML Front Matter

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
  po/_docs.ro.po
Due: weblate merge conflict

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
  po/_pages.hr.po
Due: weblate merge conflict

Translated using Weblate: Croatian (hr) by "Matija Nalis (weblate)" <mnalis-weblate@voyager.hr>
  _data/hr/tutorials.json
  po/_pages.hr.po
Due: weblate merge conflict

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
  _data/hr/tutorials.json
  po/_pages.hr.po
Due: weblate merge conflict

Update translation files (hr)
  _data/hr/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  _data/cs/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Steve78392 <piotrekwozniak2020@gmail.com>
  po/_pages.pl.po
Due: none

Translated using Weblate: Polish (pl) by wasu <wsu808@int.pl>
  po/_pages.pl.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/strings.json
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  _data/tr/strings.json
Due: weblate merge conflict

revert to fix weblate merge conflict in _data/hr/strings.json
  _data/hr/strings.json
Due: weblate merge conflict

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

TWIF 2026-04-03
  _posts/2026-04-03-twif.md
Due: YAML Front Matter

FAQ_-_App_Developers - explain signing options
  _docs/FAQ_-_App_Developers.md
Due: YAML Front Matter

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  _data/pt/strings.json
  po/_pages.pt.po
  po/_posts.pt.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_pages.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

TWIF 2026-04-09
  _posts/2026-04-09-twif.md
Due: YAML Front Matter

tools/pick-complete-translations.py: pick any 100% translated 0% failing
  tools/pick-complete-translations.py
Due: none

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  _data/hu/strings.json
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by Haley Wakamatsu <haleyhalcyon@tuta.io>
  _data/ja/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by UDP <udp@users.noreply.hosted.weblate.org>
  _data/zh_Hant/strings.json
  _data/zh_Hant/tutorials.json
  po/_docs.zh_Hant.po
  po/_pages.zh_Hant.po
  po/_posts.zh_Hant.po
Due: weblate merge conflict

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
