Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_pages.pt.po
Due: none

Translated using Weblate: Arabic (ar) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_pages.ar.po
Due: none

run tools/check-do-not-translate
  po/_docs.sq.po
  po/_pages.hr.po
Due: none

fix page links
  po/_pages.ar.po
Due: none

revert conflicts in po/_docs.ar.po po/_docs.sq.po po/_pages.ar.po
  po/_docs.ar.po
  po/_docs.sq.po
  po/_pages.ar.po
Due: none

Translated using Weblate: Arabic (ar) by Sergio Granadoz <granadozsergio42@gmail.com>
  po/_docs.ar.po
  po/_docs.sq.po
  po/_pages.ar.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  po/_docs.sq.po
Due: none

Translated using Weblate: Arabic (ar) by Basheer Radman <ba2014sheer@gmail.com>
  po/_docs.ar.po
  po/_pages.ar.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  po/_pages.ar.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_pages.ar.po
Due: none

Translated using Weblate: Arabic (ar) by Basheer Radman <ba2014sheer@gmail.com>
  po/_pages.ar.po
Due: none

run tools/check-do-not-translate
  po/_docs.sq.po
Due: none

Add newly-adopted policies to Docs
  _docs/Conflict_of_Interest_Policy.md
  _docs/Decision-making_Policy.md
  _pages/docs.md
Due: YAML Front Matter

TWIF 2026-05-22
  _posts/2026-05-22-twif.md
Due: YAML Front Matter

2026-05-22-twif - fixes by Vishal
  _posts/2026-05-22-twif.md
Due: YAML Front Matter

flossfund post
  _posts/2026-05-26-flossfund.md
Due: YAML Front Matter

typo Build_Server_Setup.md
  _docs/Build_Server_Setup.md
Due: YAML Front Matter

Build Server Setup: chaper --> chapter
  _docs/Build_Server_Setup.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

Building trust post
  .spelling
  _posts/2026-05-27-building-trust.md
  assets/EBendinelli.jpg
Due: YAML Front Matter

exiftool -all= assets/EBendinelli.jpg
  assets/EBendinelli.jpg
Due: none

Translated using Weblate: French (fr) by Didier <weblate.reword362@8alias.com>
  po/_pages.fr.po
  po/_posts.fr.po
Due: none

Translated using Weblate: Turkish (tr) by "M. Fatih Uluçam" <mulucam@gmail.com>
  po/_posts.tr.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_pages.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_pages.zh_Hans.po
Due: none

fix merge conflict with Weblate
  po/_docs.zh_Hans.po
  po/_pages.de.po
Due: none

pick-complete-translations.py: require 100% translated
  tools/pick-complete-translations.py
Due: none

pick-complete-translations.py: fix my stupid mistake
  tools/pick-complete-translations.py
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Croatian (hr) by SGG Localization <sgglocalization@users.noreply.hosted.weblate.org>
  po/_pages.hr.po
Due: none

TWIF 2026-05-29
  _posts/2026-05-29-twif.md
Due: YAML Front Matter

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  _data/ru/strings.json
  po/_docs.ru.po
  po/_pages.ru.po
  po/_posts.ru.po
Due: weblate merge conflict

TWIF 2026-06-05
  _posts/2026-06-05-twif.md
Due: YAML Front Matter

Update gem polygot to v1.13.0
  Gemfile
Due: none

Reproducible build: add an example for dartjni
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
