Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Turkish (tr) by Akif <akifvar5067@gmail.com>
  _data/tr/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_posts.id.po
Due: none

Translated using Weblate: Spanish (es) by Francisco Serrador <fserrador@gmail.com>
  po/_docs.es.po
  po/_pages.es.po
  po/_posts.es.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  po/_pages.sq.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_docs.fr.po
Due: none

run tools/check-do-not-translate
  po/_docs.es.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

fix page links
  po/_docs.fr.po
Due: none

FAQ General: fix bullet list syntax
  _docs/FAQ_-_General.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

run tools/check-obsolete-strings.py
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.fr.po
  po/_docs.ru.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
Due: none

post: New _buildserver_ architecture
  .spelling
  _posts/2025-11-24-an-experiment-in-automated-building-from-source-15-years-later.md
Due: YAML Front Matter

Fix typo
  _posts/2025-11-24-an-experiment-in-automated-building-from-source-15-years-later.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Indonesian (id) by StarSkyGeminid <akungithubku@gmail.com>
  po/_docs.id.po
Due: none

run tools/check-do-not-translate
  po/_docs.id.po
Due: none

Fix layout 2025-11-24-an-experiment-in-automated-building-from-source-15-years-later.md
  _posts/2025-11-24-an-experiment-in-automated-building-from-source-15-years-later.md
Due: YAML Front Matter

TWIF 2025-11-27
  _posts/2025-11-27-twif.md
Due: YAML Front Matter

Add configuration value to allow for picking Index v1 of v2 for the build process
  README.md
  _config.yml
Due: yamllint

set staging to build from index-v2
  tools/docker-cmd-staging.f-droid.org.sh
Due: none

Fix localized error pages
  .htaccess
Due: none

Show if package is signed by f-droid by checking its `signer` field against the list of official f-droid.org signers from the repo's `signer-index.json`
  _layouts/package.html
  _plugins/fdroid-signers.rb
Due: none

fdroid-signers.rb: handle repos without signer-index.json, for testing
  _plugins/fdroid-signers.rb
Due: none

Fix alternate links in html `head` along with some cleanup
  _includes/head.html
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 姚霁恒 <1362432220@qq.com>
  po/_posts.zh_Hans.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hant.po
Due: none

use latest jekyll-fdroid gem, with ~index-v2 support
  Gemfile
Due: none

tools/docker-cmd-staging.f-droid.org.sh: skip locales based on env var
  tools/docker-cmd-staging.f-droid.org.sh
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_docs.id.po
  po/_posts.id.po
Due: none

fix page links
  po/_docs.id.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.zh_Hans.po
Due: none

tools/docker-cmd-staging.f-droid.org.sh: fix shellcheck SC3010
  tools/docker-cmd-staging.f-droid.org.sh
Due: none
