Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  _data/ru/strings.json
  po/_docs.ru.po
  po/_pages.ru.po
Due: weblate merge conflict

remove obsolete strings
  po/_docs.pl.po
Due: none

TWIF 2025-09-19
  _posts/2025-09-19-twif.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Italian (it) by euroimmorale <weblate.playtime682@passmail.net>
  _data/it/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Harry Philps-Spicer <harry.philps-spicer@protonmail.com>
  po/_posts.fr.po
Due: none

Revert "Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>"
  po/_docs.de.po
  po/_posts.de.po
Due: none

To-the-point post about why Google may be violating DMA.
  _posts/2025-09-22-google-developer-verification-policy-and-the-dma.md
Due: YAML Front Matter

Translated using Weblate: Russian (ru) by Yurt Page <yurtpage+weblate@gmail.com>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_pages.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_posts.de.po
Due: none

tools/post-release-translation-merge.sh: error if not on master
  tools/post-release-translation-merge.sh
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

Add configuration value to allow for picking Index v1 of v2 for the build process
  _config.yml
Due: yamllint

Use jekyll-fdroid with index-v2 implementation
  Gemfile
Due: none

Update default version to latest
  .htaccess
Due: none

TWIF 2025-09-26
  _posts/2025-09-26-twif.md
Due: YAML Front Matter

2025-09-26-twif - add new section and link
  _posts/2025-09-26-twif.md
Due: YAML Front Matter

disable ta translation in staging, it breaks everything too often
  tools/docker-cmd-staging.f-droid.org.sh
Due: none

Add post: F-Droid and Google's Developer Registration Decree
  _posts/2025-09-29-google-developer-registration-decree.md
  assets/marcprux.jpg
Due: YAML Front Matter

2025-09-26-twif - fix emojis
  _posts/2025-09-26-twif.md
Due: YAML Front Matter

Fixup links in 2025-09-29-google-developer-registration-decree.md
  _posts/2025-09-29-google-developer-registration-decree.md
Due: YAML Front Matter

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Guo XYL <yogaskung@protonmail.ch>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Turkish (tr) by Kaya Zeren <kayazeren@gmail.com>
  po/_docs.tr.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_docs.id.po
  po/_pages.id.po
  po/_posts.id.po
Due: none

fix page links
  po/_posts.id.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.zh_Hant.po
Due: none

tools/check-page-links.py: check for wrong quotes in Liquid tags
  tools/check-page-links.py
Due: none

Change footnotes to inline links in 2025-09-29-google-developer-registration-decree.md
  _posts/2025-09-29-google-developer-registration-decree.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

Translated using Weblate: Finnish (fi) by Ricky Tigg <ricky.tigg@gmail.com>
  _data/fi/tutorials.json
  po/_pages.fi.po
Due: weblate merge conflict

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
