Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Eryk Michalak <gnu.ewm@protonmail.com>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Grzegorz Bak <fgb@interia.pl>
  po/_docs.pl.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  po/_docs.pl.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  _data/de/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_docs.cs.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Eduardo Malaspina <vaio0@swismail.com>
  po/_docs.es.po
Due: none

Translated using Weblate: Spanish (es) by Eduardo Malaspina <vaio0@swismail.com>
  po/_posts.es.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_docs.es.po
Due: none

Translated using Weblate: French (fr) by Lzebulon <lzebulon@crans.org>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  _data/id/strings.json
Due: weblate merge conflict

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  _data/it/strings.json
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Muha Aliss <muhaaliss@users.noreply.hosted.weblate.org>
  po/_pages.tr.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (pt) by Cleverson Cândido <optimuspraimu@gmail.com>
  po/_docs.pt.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_posts.es.po
Due: none

Translated using Weblate: Portuguese (pt) by Hugo Carvalho <hugokarvalho@hotmail.com>
  _data/pt/strings.json
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Portuguese (pt) by Cleverson Cândido <optimuspraimu@gmail.com>
  _data/pt/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Turkish (tr) by Muha Aliss <muhaaliss@users.noreply.hosted.weblate.org>
  po/_docs.tr.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_docs.uk.po
Due: none

run tools/check-gen-android-permissions.py
  _data/android_permissions.json
Due: none

fix page links
  po/_docs.es.po
  po/_docs.pt.po
  po/_docs.ru.po
  po/_posts.es.po
  po/_posts.pt_BR.po
Due: none

Add link to Artwork in About
  _pages/about.md
Due: YAML Front Matter

Update docs: app icon is not extracted
  _docs/All_About_Descriptions_Graphics_and_Screenshots.md
Due: YAML Front Matter

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
