Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Indonesian (id) by Doctorredits_here <alkaf.alkaf2018@tutamail.com>
  _data/id/strings.json
  po/_docs.id.po
  po/_posts.id.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Traditional) (zh_Hant) by hugoalh <hugoalh@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hant.po
  po/_posts.zh_Hant.po
Due: none

Translated using Weblate: Chinese (Traditional) (zh_Hant) by Ricky From Hong Kong <lamricky11@hotmail.com>
  _data/zh_Hant_HK/strings.json
  po/_docs.zh_Hant.po
  po/_pages.zh_Hant.po
  po/_posts.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_pages.cs.po
Due: none

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  _data/ca/strings.json
Due: weblate merge conflict

Translated using Weblate: Catalan (ca) by ARtHryDr <sergivallsr@gmail.com>
  _data/ca/strings.json
Due: weblate merge conflict

fix page links
  po/_docs.id.po
  po/_posts.id.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.zh_Hant.po
  po/_posts.es.po
  po/_posts.ja.po
  po/_posts.uk.po
  po/_posts.zh_Hant.po
Due: none

run tools/check-do-not-translate
  po/_docs.zh_Hant.po
Due: none

remove unused strings
  po/_docs.zh_Hant.po
  po/_pages.ar.po
  po/_pages.bo.po
  po/_pages.cs.po
  po/_pages.de.po
  po/_pages.es.po
  po/_pages.fa.po
  po/_pages.fr.po
  po/_pages.hu.po
  po/_pages.id.po
  po/_pages.is.po
  po/_pages.it.po
  po/_pages.ja.po
  po/_pages.pl.po
  po/_pages.pt.po
  po/_pages.pt_BR.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.zh_Hans.po
  po/_posts.id.po
  po/_posts.pl.po
  po/_posts.ro.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Telugu (te) by CS21B037 NAMBOORI NANDHAVARDHAN CHOWDARY <cs21b037@iittp.ac.in>
  _data/te/strings.json
Due: weblate merge conflict

Added translation using Weblate: Czech (cs) by Hans-Christoph Steiner <hans@guardianproject.info>
  _data/sw/strings.json
  _data/te/strings.json
  po/_docs.cs.po
  po/_pages.ca.po
  po/_posts.cs.po
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_posts.cs.po
Due: none

correct launch date for Czech
  _posts/2024-10-04-czech-language.md
Due: YAML Front Matter

add 'cs' as official language (Czech)
  _config.yml
Due: yamllint

run tools/check-do-not-translate
  po/_docs.cs.po
  po/_pages.cs.po
  po/_posts.cs.po
Due: none

tools/make-twif.py: search other en summary if en-US is not available
  tools/make-twif.py
Due: none

TWIF 2024-10-10
  _posts/2024-10-10-twif.md
Due: YAML Front Matter

tyop
  _posts/2024-10-10-twif.md
Due: YAML Front Matter

stuff
  _posts/2024-10-10-twif.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_docs.cs.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Xicheng Qin <xicheng412@gmail.com>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_pages.es.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_docs.es.po
  po/_posts.es.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Czech (cs) by slrslr <adm@prnet.info>
  po/_docs.cs.po
Due: none

Translated using Weblate: Czech (cs) by slrslr <adm@prnet.info>
  po/_pages.cs.po
Due: none

Translated using Weblate: Polish (pl) by Eryk Michalak <gnu.ewm@protonmail.com>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
  po/_docs.cs.po
  po/_pages.cs.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_docs.es.po
Due: none

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  _data/es/strings.json
Due: weblate merge conflict
