Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_pages.id.po
  po/_posts.id.po
Due: none

tools/check-do-not-translate: <p> and </p>
  po/_pages.ar.po
  po/_pages.bo.po
  po/_pages.ca.po
  po/_pages.cs.po
  po/_pages.es.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fr.po
  po/_pages.he.po
  po/_pages.hr.po
  po/_pages.hu.po
  po/_pages.is.po
  po/_pages.it.po
  po/_pages.ja.po
  po/_pages.ko.po
  po/_pages.pl.po
  po/_pages.pt.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.zh_Hant.po
  tools/check-do-not-translate
Due: none

script to port converted strings from !1531
  po/_pages.cs.po
  po/_pages.es.po
  po/_pages.fr.po
  po/_pages.he.po
  po/_pages.pl.po
  po/_pages.pt.po
  po/_pages.pt_BR.po
  po/_pages.ru.po
  po/_pages.tr.po
  po/_pages.uk.po
Due: none

run tools/check-do-not-translate
  po/_pages.hr.po
Due: none

Translated using Weblate: Polish (pl) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_pages.ar.po
  po/_pages.fr.po
  po/_pages.he.po
  po/_pages.id.po
  po/_pages.pl.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.tr.po
  po/_pages.uk.po
Due: none

Translated using Weblate: Vietnamese (vi) by "Nguyễn Quang Minh (NQM)" <nguyenquangminh391@gmail.com>
  po/_docs.vi.po
  po/_pages.vi.po
Due: none

Update translation files
  _data/ast/strings.json
  _data/az/strings.json
  _data/bg/strings.json
  _data/cy/strings.json
  _data/el/strings.json
  _data/eo/strings.json
  _data/es_AR/strings.json
  _data/es_MX/strings.json
  _data/et/strings.json
  _data/gd/strings.json
  _data/gl/strings.json
  _data/hi/strings.json
  _data/kab/strings.json
  _data/ml/strings.json
  _data/nn/strings.json
  _data/oc/strings.json
  _data/ps/strings.json
  _data/sc/strings.json
  _data/sk/strings.json
  _data/sn/strings.json
  _data/sr/strings.json
  _data/ta/strings.json
  _data/te/strings.json
  _data/th/strings.json
  _data/ug/strings.json
  _data/vi/strings.json
  _data/zh_Hant_HK/strings.json
Due: weblate merge conflict

Translated using Weblate: Vietnamese (vi) by metah <hahupung@gmail.com>
  po/_pages.vi.po
Due: none

Translated using Weblate: Estonian (et) by Priit Jõerüüt <jrthwlate@users.noreply.hosted.weblate.org>
  _data/et/strings.json
  po/_docs.et.po
  po/_pages.et.po
  po/_posts.et.po
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_pages.id.po
Due: none

Translated using Weblate: Indonesian (id) by Jacque Fresco <aidter@use.startmail.com>
  po/_docs.id.po
Due: none

Translated using Weblate: Indonesian (id) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_docs.id.po
Due: none

use italics when using fdroiddata as a word
  _docs/Build_Server_Setup.md
  _docs/How_to_Help.md
  _docs/Inclusion_How-To.md
  _docs/Reproducible_Builds.md
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

use italics when using file names as words
  _docs/FAQ_-_App_Developers.md
  _docs/How_to_update_an_app.md
  _docs/Inclusion_How-To.md
  _docs/Licenses.md
  _docs/Repository_Style_Guide.md
  _docs/Running_a_Mirror.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

Translated using Weblate: Greek (el) by AUGANOS <giannoskai@proton.me>
  _data/el/strings.json
Due: weblate merge conflict

Update translation files
  _data/el/strings.json
  _data/lt/strings.json
Due: weblate merge conflict

Translated using Weblate: Greek (el) by Spiros Vlachos <vitaspiros@gmail.com>
  _data/el/strings.json
Due: weblate merge conflict

Translated using Weblate: Greek (el) by Jim Kats <jim-kats@hotmail.com>
  _data/el/strings.json
  po/_docs.el.po
  po/_posts.el.po
Due: weblate merge conflict

fix format strings
  _data/el/strings.json
Due: weblate merge conflict

TWIF 2026-04-24
  _posts/2026-04-24-twif.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_docs.id.po
Due: none

sed -i 's,\[fdroiddata\],[_fdroiddata_],g' _docs/*.md po/_docs.*
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

sed -E -i 's,([^</_*-])fdroiddata([^/_*-]),\1_fdroiddata_\2,g' po/_docs.* _docs/*.md
  _docs/Inclusion_How-To.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

manually convert Markdown: fdroiddata to _fdroiddata_
  _docs/Inclusion_How-To.md
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_docs.zh_Hant.po
Due: none

Add Board of Directors appointments 2026 post
  _posts/2026-04-23-board-appointments-2026.md
Due: YAML Front Matter

board-appointments-2026 - fix date :facepalm:
  _posts/2026-04-28-board-appointments-2026.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by BlaireWang <yuki20040228@gmail.com>
  _data/zh_Hant/strings.json
  po/_pages.zh_Hant.po
  po/_posts.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.es.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

Add Board of Directors appointments 2025 post
  _posts/2025-05-25-board-appointments-2025.md
Due: YAML Front Matter

Placate linter for _docs/FAQ_-_App_Developers.md
  _docs/FAQ_-_App_Developers.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_posts.de.po
Due: none

TWIF 2026-04-30
  _posts/2026-04-30-twif.md
Due: YAML Front Matter

Update jekyll-fdroid and uses permission.name
  .gitignore
  Gemfile
  _layouts/package.html
Due: none

Update jekyll-fdroid to latest
  Gemfile
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_posts.id.po
Due: none
