Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Clarification about donation
  _pages/donate.md
Due: YAML Front Matter

legal one post, bump date
  _posts/2025-08-04-legal-one.md
Due: YAML Front Matter

TWIF 2025-08-07
  _posts/2025-08-07-twif.md
Due: YAML Front Matter

2025-08-07-twif - wesnoth note
  _posts/2025-08-07-twif.md
Due: YAML Front Matter

reproducible build: add doc for baseline.prof
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

FAQ_-_General - fix repro link
  _docs/FAQ_-_General.md
Due: YAML Front Matter

Reproducible build: make it clear the binary is generally signed and hosted by upstream
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

TWIF 2025-08-14
  _posts/2025-08-14-twif.md
Due: YAML Front Matter

Edit contributors.yaml
  _data/contributors.yaml
Due: none

Legal Series - Two
  _posts/2025-08-20-legat-two.md
Due: YAML Front Matter

Translated using Weblate: Turkish (tr) by metezd <metezd@users.noreply.hosted.weblate.org>
  po/_docs.tr.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/tutorials.json
  po/_docs.ja.po
  po/_pages.ja.po
  po/_posts.ja.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_docs.fr.po
  po/_posts.fr.po
Due: none

Translated using Weblate: French (fr) by Ἥλιος <mu6mj1y62@mozmail.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: Persian (fa) by Goudarz Jafari <me@goudarzjafari.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by homocomputeris <homocomputeris+git@gmail.com>
  _data/ru/strings.json
  po/_docs.ru.po
  po/_posts.ru.po
Due: weblate merge conflict

TWIF 2025-08-21
  _posts/2025-08-21-twif.md
Due: YAML Front Matter

Added Volla to phones with F-Droid preinstalled
  _docs/Get_F-Droid.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_pages.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_pages.ro.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Alex Li <alexljz789@gmail.com>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
  po/_pages.ja.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_docs.he.po
  po/_pages.he.po
  po/_posts.he.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_pages.fr.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_pages.cs.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Rafael Fontenelle <rafaelff@gnome.org>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_docs.uk.po
  po/_pages.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_pages.pt.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  po/_pages.ar.po
Due: none

fix page links
  po/_docs.uk.po
Due: none

use full title in URL slugs, fixing typo
  .htaccess
  _posts/2025-08-04-strengthening-f-droids-legal-resilience-introducing-the-research-series.md
  _posts/2025-08-20-knowing-where-you-stand-jurisdiction-legal-entities-and-liability-in-foss.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.vi.po
  po/_docs.zh_Hant.po
Due: none

remove obsolete strings
  po/_docs.ar.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.es.po
  po/_docs.is.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.ru.po
  po/_docs.tr.po
Due: none

fix(slider): fix screenshots navigation for RTL
  _sass/_layout.scss
Due: none

remove obsolete translation strings
  po/_docs.de.po
Due: none
