Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Reproducible Builds: remove apksigcopier ref, maintainer archived it
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Reproducible_Builds: update code description based on current setup
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Reproducible Builds: spelling fixes
  .spelling
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Reproducible_Builds: update intro description based on current setup
  .spelling
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Translated using Weblate: Czech (cs) by Fjuro <git@alius.cz>
  _data/cs/strings.json
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/strings.json
  po/_docs.ja.po
  po/_posts.ja.po
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by slrslr <adm@prnet.info>
  po/_docs.cs.po
Due: none

Translated using Weblate: German (de) by ssantos <ssantos@web.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  _data/uk/strings.json
  po/_docs.uk.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
  po/_docs.zh_Hans.po
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_docs.he.po
Due: none

Translated using Weblate: French (fr) by Laurent FAVOLE <lfavole@users.noreply.hosted.weblate.org>
  po/_docs.fr.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
  po/_pages.ar.po
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Bora Atıcı <boratici.acc@gmail.com>
  po/_docs.tr.po
  po/_posts.tr.po
Due: none

fix page links
  po/_docs.ja.po
Due: none

fix merge conflict with weblate
  po/_docs.ar.po
  po/_pages.ar.po
Due: none

remove old translations
  po/_docs.pt.po
  po/_docs.vi.po
Due: none

run tools/check-do-not-translate
  po/_docs.ca.po
  po/_docs.tr.po
Due: none

Reproducible Builds: fix link to "Reproducibility Status"
  _docs/Reproducible_Builds.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

Add UN Open Source Principles endorsement post
  _posts/2025-06-18-united-nations-open-source-principles.md
Due: YAML Front Matter

TWIF 2025-06-19
  _posts/2025-06-19-twif.md
Due: YAML Front Matter

Remove mention of website sidebar in FAQ
  _docs/FAQ_-_General.md
Due: YAML Front Matter

Correct description of latest tab in FAQ
  _docs/FAQ_-_General.md
Due: YAML Front Matter

TWIF 2025-06-26
  _posts/2025-06-26-twif.md
Due: YAML Front Matter

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
  po/_pages.ja.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <git@alius.cz>
  _data/cs/strings.json
  po/_pages.cs.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_pages.zh_Hans.po
Due: none

Translated using Weblate: Persian (fa) by Goudarz Jafari <me@goudarzjafari.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  _data/hu/strings.json
  po/_pages.hu.po
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  po/_docs.ru.po
  po/_pages.ru.po
Due: none

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  _data/es/strings.json
  _data/es/tutorials.json
  po/_docs.es.po
  po/_pages.es.po
  po/_posts.es.po
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_pages.uk.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_docs.ro.po
  po/_pages.ro.po
  po/_posts.ro.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  po/_docs.uk.po
  po/_pages.uk.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  _data/pt_BR/strings.json
  po/_pages.pt_BR.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (pt) by oCaioAug <ocaioaug.dev@protonmail.com>
  po/_docs.pt.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
