Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

split line containing Inclusion Policy and Inclusion How-To
  _pages/docs.md
Due: YAML Front Matter

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_posts.ro.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

Translated using Weblate: German (de) by Ettore Atalan <atalanttore@googlemail.com>
  po/_docs.de.po
Due: none

Translated using Weblate: Turkish (tr) by Cabbar Hayıroğlu <halil48efe@gmail.com>
  _data/tr/strings.json
  po/_pages.tr.po
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_posts.cs.po
Due: none

Translated using Weblate: Korean (ko) by PICOPress <picopress@users.noreply.hosted.weblate.org>
  po/_posts.ko.po
Due: none

fix page links
  po/_pages.tr.po
Due: none

Add post for Board of Directors nominations 2026
  _posts/2026-02-26-board-of-directors-nominations.md
Due: YAML Front Matter

First page - try to remove the foss repetition
  _data/strings.json
Due: weblate merge conflict

Apply 1 suggestion(s) to 1 file(s)
  _data/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
  po/_docs.zh_Hans.po
  po/_pages.zh_Hans.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  po/_posts.es.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  _data/id/strings.json
  po/_posts.id.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Lautaro de Vega <aurolaut@users.noreply.hosted.weblate.org>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by Elyas Rahimi <elyas.rahimi.4.28@gmail.com>
  po/_posts.ar.po
Due: none

tools/post-release-translation-merge.sh: only process active languages
  tools/post-release-translation-merge.sh
Due: none

tools/i18n.sh: stop processing non-existant "en" locale
  tools/i18n.sh
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

2026-02-20-twif - infomaniak ksync metadata mixup
  _posts/2026-02-20-twif.md
Due: YAML Front Matter

TWIF 2026-02-27
  _posts/2026-02-27-twif.md
Due: YAML Front Matter

Fixup `exclude_from_localization` with polyglot 1.11.0
  _config.yml
Due: yamllint

now that ~index-v2 support is in production, there's no looking back!
  .spelling
  Gemfile
  README.md
  _config.yml
  tools/docker-cmd-staging.f-droid.org.sh
Due: yamllint

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  _data/de/strings.json
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: French (fr) by Sylvain Pichon <service@spichon.fr>
  po/_docs.fr.po
  po/_pages.fr.po
  po/_posts.fr.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  _data/id/strings.json
  po/_docs.id.po
  po/_pages.id.po
  po/_posts.id.po
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by somemorwater <somemorwater@gmail.com>
  po/_pages.he.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_pages.he.po
Due: none

Translated using Weblate: Hungarian (hu) by Mihály Dávid Milán <randommail_721@protonmail.com>
  _data/hu/strings.json
Due: weblate merge conflict

show_all_packages_format string for jekyll-fdroid!101
  _data/strings.json
Due: weblate merge conflict

Translated using Weblate: Greek (el) by double beep <doublebeep7@gmail.com>
  _data/el/strings.json
Due: weblate merge conflict

complete show_all_packages_format string for jekyll-fdroid!101
  _data/strings.json
Due: weblate merge conflict

Add CI job that fetches completed translations from weblate and creates a Merge request
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

add --force flag to push commits
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

fix gitlab ci
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

fix commit message: remove ~
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

add cherry picks into a file
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
