Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

TWIF 2025-12-05
  _posts/2025-12-05-twif.md
Due: YAML Front Matter

Typo 2025-11-27-twif
  _posts/2025-11-27-twif.md
Due: YAML Front Matter

TWIF 2025-12-11
  _posts/2025-12-11-twif.md
Due: YAML Front Matter

Build Metadata Reference: AutoUpdateMode/UpdateCheckMode default to None now
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Mateus Liberale Gomes <sergiogomes209403@gmail.com>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  po/_pages.pl.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  _data/fr/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Hungarian (hu) by Dani Nagy <nagydani.m.k@gmail.com>
  _data/hu/tutorials.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/tutorials.json
  po/_docs.fr.po
  po/_pages.fr.po
Due: weblate merge conflict

Translated using Weblate: Korean (ko) by Myeongjin <aranet100@gmail.com>
  _data/ko/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Francisco Serrador <fserrador@gmail.com>
  po/_docs.es.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_docs.id.po
Due: none

Translated using Weblate: Italian (it) by dicaeffe <dicaeffe@users.noreply.hosted.weblate.org>
  po/_docs.it.po
  po/_posts.it.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.is.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

run tools/check-obsolete-strings.py
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.de.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

tools/check-page-links.py: remove fuzzy obsolete strings that break babel
  tools/check-page-links.py
Due: none

TWIF 2025-12-18
  _posts/2025-12-18-twif.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Spanish (es) by Xusi Fons <xusi@keemail.me>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
  _data/fr/tutorials.json
  po/_docs.fr.po
  po/_pages.fr.po
  po/_posts.fr.po
Due: weblate merge conflict

fix page links
  po/_docs.fr.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.es.po
  po/_docs.id.po
  po/_docs.it.po
Due: none

remove obsolete strings
  po/_docs.es.po
  po/_docs.id.po
Due: none

TWIF 2025-12-26
  _posts/2025-12-26-twif.md
Due: YAML Front Matter

Post: A faster heart for F Droid
  _posts/2025-12-30-a-faster-heart-for-f-droid.md
Due: YAML Front Matter

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Polish (pl) by Kuba <weblate.undercut450@passmail.net>
  po/_docs.pl.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Polish (pl) by Piotr Strebski <strebski@gmail.com>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  po/_docs.fa.po
Due: none

Translated using Weblate: Persian (fa) by علی زارع <a.zare.developer@gmail.com>
  po/_docs.fa.po
Due: none
