Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_posts.cs.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Korean (ko) by 안세훈 <on9686@gmail.com>
  _data/ko/strings.json
Due: weblate merge conflict

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_docs.ro.po
Due: none

TWIF 2025-04-10
  _posts/2025-04-10-twif.md
Due: YAML Front Matter

Release_Channels_and_Signing_Keys - fix formatting
  _docs/Release_Channels_and_Signing_Keys.md
Due: YAML Front Matter

Post: Strengthening FOSS Legal Resilience
  _posts/2025-04-16-strengthening-foss-legal-resilience.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_pages.cs.po
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_pages.pt.po
Due: none

Translated using Weblate: French (fr) by Nota Inutilis <hugo@notainutilis.fr>
  po/_docs.fr.po
Due: none

Translated using Weblate: French (fr) by Laurent FAVOLE <laurentfavole03@gmail.com>
  po/_docs.fr.po
  po/_posts.fr.po
Due: none

Release Channels and Signing Keys: fix syntax for translation
  _docs/Release_Channels_and_Signing_Keys.md
  tools/check-do-not-translate
Due: YAML Front Matter

run tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Make archived apk url still available in /repo
  .htaccess
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

run tools/check-do-not-translate
  po/_docs.uk.po
Due: none

TWIF 2025-04-17
  _posts/2025-04-17-twif.md
Due: YAML Front Matter

Translated using Weblate: German (de) by ssantos <ssantos@web.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_pages.cs.po
  po/_posts.cs.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

contributors: add LucasMZ
  _data/contributors.yaml
Due: none

Mention repo/ -> archive/ rewrite
  _docs/Setup_an_F-Droid_App_Repo.md
Due: YAML Front Matter

MD3 post
  _posts/2025-04-23-md3.md
  assets/posts/2025-04-23-md3/latest.png
  assets/posts/2025-04-23-md3/settings.png
Due: YAML Front Matter

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_pages.ja.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
  po/_pages.cs.po
Due: weblate merge conflict

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
