Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_docs.ru.po
  po/_posts.ru.po
Due: none

run tools/check-gen-android-permissions.py
  _data/android_permissions.json
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
  po/_posts.el.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.nb.po
  po/_posts.te.po
Due: none

tools/post-release-translation-merge.sh: `wlc commit` is not required
  tools/post-release-translation-merge.sh
Due: none

Revert "Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>"
  po/_posts.de.po
Due: none

TWIF 2025-03-13
  _posts/2025-03-13-twif.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: German (de) by Wazeri Wazeri <wazeriwazeri0@gmail.com>
  po/_pages.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_pages.de.po
  po/_posts.de.po
Due: none

make-twif.py: make mdlint happy
  tools/make-twif.py
Due: none

TWIF 2025-03-20
  _posts/2025-03-20-twif.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Persian (fa) by Goudarz Jafari <me@goudarzjafari.com>
  po/_pages.fa.po
Due: none

Translated using Weblate: Japanese (ja) by "Maru-ni, Umebachi" <maruniumebachi@users.noreply.hosted.weblate.org>
  po/_docs.ja.po
Due: none

Translated using Weblate: Spanish (es) by Nicolás Pérez <ccnicolasperez@gmail.com>
  po/_docs.es.po
  po/_pages.es.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by luca0N! <luca0n@luca0n.com>
  po/_docs.pt_BR.po
Due: none

Translated using Weblate: Italian (it) by Champ0999 <il.migliore0999@gmail.com>
  po/_docs.it.po
  po/_posts.it.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  po/_pages.pl.po
Due: none

Translated using Weblate: Italian (it) by Champ0999 <champ0999@users.noreply.hosted.weblate.org>
  po/_docs.it.po
  po/_pages.it.po
  po/_posts.it.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_docs.he.po
Due: none

fix page links
  po/_pages.pl.po
Due: none

Add Tobias Groza to contributors
  _data/contributors.yaml
Due: none

TWIF 2025-03-27
  _posts/2025-03-27-twif.md
Due: YAML Front Matter

Add post for Board of Directors nominations 2025
  _posts/2025-03-30-board-of-directors-nominations.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Danilo Issida Goncalves <danissida@hotmail.com>
  po/_docs.pt_BR.po
Due: none

sed -i 's,board-nominations@fdroid\.net,board-nominations@f-droid.org,g'
  _posts/2024-02-28-help-advance-mobile-device-user-freedom-nominate-candidates-for-the-f-droid-board-of-directors.md
  _posts/2025-03-30-board-of-directors-nominations.md
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_docs.cs.po
  po/_docs.ru.po
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.zh_Hant.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.de.po
  po/_posts.de.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
  po/_pages.sq.po
Due: weblate merge conflict

Translated using Weblate: Albanian (sq) by Hans-Christoph Steiner <hans@guardianproject.info>
  _data/sq/strings.json
Due: weblate merge conflict

Added self to contributors list
  _data/contributors.yaml
Due: none

TWIF 2025-04-03
  _posts/2025-04-03-twif.md
Due: YAML Front Matter

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none
