Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_pages.he.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
  po/_docs.sq.po
  po/_pages.sq.po
  po/_posts.sq.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Rafael Fontenelle <rafaelff@gnome.org>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_pages.de.po
Due: none

Revert blanking out of some strings in Albanian (sq)
  _data/sq/strings.json
Due: weblate merge conflict

tools/check-do-not-translate
  po/_docs.sq.po
Due: none

remove obsolete strings
  po/_pages.ar.po
  po/_pages.bn.po
  po/_pages.ca.po
  po/_pages.es.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fi.po
  po/_pages.fr.po
  po/_pages.gd.po
  po/_pages.gl.po
  po/_pages.hi.po
  po/_pages.hu.po
  po/_pages.id.po
  po/_pages.is.po
  po/_pages.it.po
  po/_pages.ja.po
  po/_pages.ko.po
  po/_pages.nb.po
  po/_pages.nn.po
  po/_pages.pl.po
  po/_pages.pt.po
  po/_pages.pt_BR.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.ta.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.zh_Hant.po
Due: none

fix merge conflict
  po/_pages.de.po
Due: none

Translated using Weblate: German (de) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_docs.de.po
  po/_pages.de.po
Due: none

manually set POT-Creation-Date
  po/_pages.de.po
Due: none

remove obsolete strings
  po/_pages.cs.po
  po/_pages.de.po
  po/_pages.he.po
  po/_pages.sq.po
  po/_pages.zh_Hans.po
Due: none

tools/check-page-links.py: msgstr that end in \n but not msgid
  tools/check-page-links.py
Due: none

reset broken msgstr
  po/_docs.sq.po
Due: none

TWIF 2026-01-23
  _posts/2026-01-23-twif.md
Due: YAML Front Matter

Translated using Weblate: Persian (fa) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_pages.fa.po
Due: none

Add post about F-Droid Basic 2.0 alpha
  _posts/2026-01-24-fdroid-basic-2.0-alpha.md
  assets/posts/2026-01-24-fdroid-basic-2.0-alpha/screenshot.png
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_pages.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: French (fr) by Clyhtsuriva <aimeric@adjutor.xyz>
  po/_pages.fr.po
Due: none

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by Ruedin <ruedin@gmx.net>
  po/_pages.de.po
Due: none

Translated using Weblate: German (de) by Ruedin <ruedin@gmx.net>
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by Hans-Fritz Pommes <valarmmail@gmx.de>
  po/_pages.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Polish (pl) by Grzegorz Bak <fgb@interia.pl>
  po/_pages.pl.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Jeff Huang <s8321414@gmail.com>
  _data/zh_Hant/strings.json
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Lzebulon <lzebulon@crans.org>
  po/_pages.fr.po
Due: none

Translated using Weblate: German (de) by Ettore Atalan <atalanttore@googlemail.com>
  po/_pages.de.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hant.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_pages.zh_Hans.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_pages.ja.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_pages.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_pages.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
  po/_docs.ro.po
Due: weblate merge conflict

Translated using Weblate: German (de) by nautilusx <translate@disroot.org>
  po/_docs.de.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  _data/ru/strings.json
Due: weblate merge conflict

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
