Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

run tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.ca.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.id.po
  po/_docs.ja.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.vi.po
  po/_pages.ca.po
  po/_pages.eu.po
  po/_posts.ca.po
Due: none

fix page links
  po/_pages.tr.po
Due: none

purge obsolete translation strings
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
Due: none

MIA Process: fix markdownlint MD004 Unordered list style
  _docs/MIA_Process.md
Due: YAML Front Matter

MIA Process: update based on Maintainers discussions
  _docs/MIA_Process.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_posts.he.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_pages.pt.po
Due: none

make weblate link clickable
  _posts/2025-06-01-basque-language.md
  _posts/2025-06-01-catalan-language.md
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: YAML Front Matter

fix page links
  po/_posts.uk.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

fix typo in script name
  tools/get-permissions-strings-from-aosp.py
Due: none

TWIF 2025-06-05
  _posts/2025-06-05-twif.md
Due: YAML Front Matter

Revert "Reproducible build: remove an example"
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Potential repro issies, add cmake note
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

WIP get-permissions-strings-from-aosp.py: fetch from googlesource.com
  tools/get-permissions-strings-from-aosp.py
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: German (de) by Hans-Fritz Pommes <valarmmail@gmx.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
  _data/ar/tutorials.json
  po/_docs.ar.po
  po/_pages.ar.po
Due: weblate merge conflict

run tools/post-release-translation-merge.sh
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.zh_Hant.po
Due: none

TWIF 2025-06-12
  _posts/2025-06-12-twif.md
Due: YAML Front Matter

fix indent of fdroid nightly action
  _docs/Publishing_Nightly_Builds.md
Due: YAML Front Matter

update docs to match new Gihub Actions working flow
  _docs/Publishing_Nightly_Builds.md
Due: YAML Front Matter

fix markdownlint issues
  _docs/Publishing_Nightly_Builds.md
Due: YAML Front Matter

Translated using Weblate: Catalan (ca) by Joan Pujolar <joan.pujolar@gmail.com>
  po/_docs.ca.po
Due: none

Translated using Weblate: Turkish (tr) by Bora Atıcı <boratici.acc@gmail.com>
  po/_docs.tr.po
  po/_posts.tr.po
Due: none

Translated using Weblate: Vietnamese (vi) by IAmOlive <nhathungtran2011@gmail.com>
  po/_docs.vi.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

run tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

fix page links
  po/_docs.ca.po
Due: none

add id="" to provide anchor links to key points of the package pages
  _layouts/package.html
Due: none

get-permissions-strings-from-aosp.py: fetch from googlesource.com
  tools/get-permissions-strings-from-aosp.py
Due: none

Change cursor to grab for slides
  _sass/_layout.scss
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
