Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_docs.cs.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Build_Metadata_Reference - remove old snippet
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

TWIF 2026-04-16
  _posts/2026-04-16-twif.md
Due: YAML Front Matter

2026-04-16-twif - add torvpn news
  _posts/2026-04-16-twif.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  po/_pages.ru.po
Due: none

Translated using Weblate: Russian (ru) by Dmitry Blazkowicz <dimochkasol@gmail.com>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by Ameen Al-izzi <kjj57302@proton.me>
  po/_pages.ar.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

run tools/check-do-not-translate
  po/_docs.cs.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Inclusion policy: add a section for quality control
  _docs/Inclusion_Policy.md
Due: YAML Front Matter

Update build metadata reference
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

Blog post on FOSS sustainability research
  _posts/2026-04-20-exploring-sustainable-funding.md
Due: YAML Front Matter

remove NSFW Anti-Feature
  _docs/Anti-Features.md
Due: YAML Front Matter

Update po files for format changes in !1516
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Translated using Weblate: Ukrainian (uk) by Matthew <matthew.sholok@gmail.com>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Cabbar Hayıroğlu <halil48efe@gmail.com>
  _data/tr/strings.json
  po/_pages.tr.po
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Hans-Christoph Steiner <hans@guardianproject.info>
  _data/tr/strings.json
  po/_pages.tr.po
Due: weblate merge conflict

about: add spaces to make nice strings for the translators
  _pages/about.md
Due: YAML Front Matter

consulting: fix bullet list syntax to work nicely with po4a
  _pages/consulting.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_pages.ar.po
  po/_pages.bo.po
  po/_pages.ca.po
  po/_pages.cs.po
  po/_pages.de.po
  po/_pages.es.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fr.po
  po/_pages.he.po
  po/_pages.hr.po
  po/_pages.hu.po
  po/_pages.id.po
  po/_pages.is.po
  po/_pages.it.po
  po/_pages.ja.po
  po/_pages.ko.po
  po/_pages.pl.po
  po/_pages.pot
  po/_pages.pt.po
  po/_pages.pt_BR.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.zh_Hans.po
  po/_pages.zh_Hant.po
  po/_posts.zh_Hant.po
Due: none

Government Requests: include layout so page renders properly
  _docs/Government_Requests.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by UDP <udp@users.noreply.hosted.weblate.org>
  _data/zh_Hant/strings.json
  po/_docs.zh_Hant.po
  po/_posts.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: German (de) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_docs.zh_Hant.po
  po/_pages.de.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by BlaireWang <yuki20040228@gmail.com>
  _data/zh_Hant/strings.json
  po/_pages.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_pages.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
  po/_pages.hr.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by The Cats <philosoph@danwin1210.de>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Italian (it) by Francesco Marinucci <francesco.marinucci@posteo.net>
  _data/it/strings.json
  po/_pages.it.po
Due: weblate merge conflict

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  _data/fa/tutorials.json
  po/_pages.fa.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_pages.zh_Hans.po
Due: none
