Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
Due: weblate merge conflict

include category name in "Show all" format string
  Gemfile
  _data/ar/strings.json
  _data/bo/strings.json
  _data/ca/strings.json
  _data/cs/strings.json
  _data/de/strings.json
  _data/es/strings.json
  _data/eu/strings.json
  _data/fa/strings.json
  _data/fr/strings.json
  _data/he/strings.json
  _data/id/strings.json
  _data/is/strings.json
  _data/it/strings.json
  _data/ja/strings.json
  _data/ko/strings.json
  _data/pl/strings.json
  _data/pt/strings.json
  _data/pt_BR/strings.json
  _data/ro/strings.json
  _data/ru/strings.json
  _data/sq/strings.json
  _data/strings.json
  _data/tr/strings.json
  _data/uk/strings.json
  _data/zh_Hans/strings.json
  _data/zh_Hant/strings.json
Due: weblate merge conflict

Build_Metadata_Reference - update categories
  _config.yml
  _data/strings.json
  _docs/Build_Metadata_Reference.md
Due: weblate merge conflict, YAML Front Matter, yamllint

TWIF 2026-03-13
  _posts/2026-03-13-twif.md
Due: YAML Front Matter

Update translation files
  _data/ar/strings.json
  _data/ca/strings.json
  _data/cs/strings.json
  _data/de/strings.json
  _data/es/strings.json
  _data/fa/strings.json
  _data/fr/strings.json
  _data/he/strings.json
  _data/hu/strings.json
  _data/id/strings.json
  _data/is/strings.json
  _data/it/strings.json
  _data/ja/strings.json
  _data/ko/strings.json
  _data/pt/strings.json
  _data/pt_BR/strings.json
  _data/ro/strings.json
  _data/ru/strings.json
  _data/sq/strings.json
  _data/tr/strings.json
  _data/uk/strings.json
  _data/zh_Hans/strings.json
  _data/zh_Hant/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  _data/cs/strings.json
  po/_docs.cs.po
  po/_pages.cs.po
Due: weblate merge conflict

Update translation files
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Wiesław Fijołek <percival@users.noreply.hosted.weblate.org>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  _data/de/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
  po/_pages.pl.po
Due: weblate merge conflict

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  _data/hu/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by ssantos <ssantos@web.de>
  _data/de/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
  po/_docs.zh_Hans.po
Due: weblate merge conflict

Revert blanked strings in Albanian (sq)
  _data/sq/strings.json
Due: weblate merge conflict

run tools/check-do-not-translate
  po/_docs.cs.po
Due: none

TWIF 2026-03-19
  _posts/2026-03-19-twif.md
Due: YAML Front Matter

First page - try to remove the foss repetition
  _data/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Kayky <okayky2350@gmail.com>
  po/_docs.pt_BR.po
  po/_posts.pt_BR.po
Due: none

fix page links
  po/_docs.pt_BR.po
Due: none

update jdk version in the guide
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
Due: YAML Front Matter

Translated using Weblate: Catalan (ca) by HUMET <ressaguer@proton.me>
  _data/ca/strings.json
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Mustafa Koca <acokmustafa123@gmail.com>
  po/_pages.tr.po
  po/_posts.tr.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Shihfu Juan <xlion@xlion.tw>
  _data/zh_Hant/strings.json
Due: weblate merge conflict

Translated using Weblate: Hungarian (hu) by Romhányi-Kakucska Viktor <viktor@romhanyi.dev>
  _data/hu/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Francisco Serrador <fserrador@gmail.com>
  po/_docs.es.po
  po/_pages.es.po
Due: none

Translated using Weblate: Basque (eu) by Alexander Gabilondo <alexgabi@openmailbox.org>
  _data/eu/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Nicolás Pérez <nicoperez241@proton.me>
  po/_pages.es.po
Due: none

Translated using Weblate: French (fr) by Lzebulon <lzebulon@crans.org>
  po/_pages.fr.po
Due: none

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  po/_docs.is.po
  po/_pages.is.po
Due: none

Translated using Weblate: Russian (ru) by Vin <k3kelm4vw@mozmail.com>
  po/_pages.ru.po
Due: none

Translated using Weblate: Russian (ru) by NikKol <nikkol197@tuta.io>
  po/_pages.ru.po
Due: none

fix page links
  po/_pages.tr.po
  po/_posts.tr.po
Due: none
