Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_posts.cs.po
Due: none

Translated using Weblate: Spanish (es) by trikaphundo <trikaphundo@users.noreply.hosted.weblate.org>
  po/_pages.es.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_docs.cs.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_pages.es.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_docs.es.po
Due: none

Translated using Weblate: Italian (it) by coronabond <coronabond@airmail.cc>
  po/_pages.it.po
Due: none

Translated using Weblate: Italian (it) by coronabond <coronabond@airmail.cc>
  _data/it/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  _data/id/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_posts.pt.po
Due: none

Translated using Weblate: Italian (it) by coronabond <coronabond@airmail.cc>
  po/_docs.it.po
Due: none

fix page links
  po/_docs.cs.po
  po/_posts.cs.po
Due: none

Link to SPDX for licenses
  _layouts/package.html
Due: none

Reproducible_Builds - detail cmake build-id
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

TWIF 2024-10-17
  _posts/2024-10-17-twif.md
Due: YAML Front Matter

Update jekyll-paginate-v2 to master
  Gemfile
  README.md
Due: none

gitlab-ci: convert all GitLab CI jobs to rules:
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

gitlab-ci: only trigger spellcheckbot on merge requests
  tools/trigger-spellcheckbot
Due: none

Translated using Weblate: Ukrainian (uk) by Tymofii Lytvynenko <till.svit@gmail.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@inbox.lv>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Korean (ko) by kdh8219 <kdh8219@monamo.dev>
  _data/ko/strings.json
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Ümit Solmz <usnetv@users.noreply.hosted.weblate.org>
  _data/tr/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  _data/pt/strings.json
Due: weblate merge conflict

Fix broken link - file an issue Solves: #688
  _docs/Translation_and_Localization.md
Due: YAML Front Matter

Update tools/update-licenses.json.py and _data/licenses.json
  _data/licenses.json
  tools/update-licenses.json.py
Due: none

sed -i 's,https://gitlab.com/groups/fdroid/issues,https://gitlab.com/fdroid/fdroid-website/-/issues,g' */*.*
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none
