Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Japanese (ja) by dokutoku <dokutoku@users.noreply.hosted.weblate.org>
  po/_docs.ja.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_docs.he.po
Due: none

update copy on front page and /about/
  .spelling
  _data/contributors.yaml
  _data/strings.json
  _docs/Anti-Features.md
  _docs/Get_F-Droid.md
  _docs/Licenses.md
  _docs/Translation_and_Localization.md
  _pages/about.md
  _pages/docs.md
Due: weblate merge conflict, YAML Front Matter

<h2> --> <h3> on the front page title
  index.md
Due: none

Contribute page
  .spelling
  _docs/Translation_and_Localization.md
  _pages/contribute.md
  tools/check-do-not-translate
Due: YAML Front Matter

Misc fixes
  _data/strings.json
  _includes/head.html
  _includes/header.html
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by StarSkyGeminid <akungithubku@gmail.com>
  _data/id/strings.json
  po/_docs.id.po
  po/_pages.id.po
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Дмитрий Михирев <bizdelnick@gmail.com>
  po/_pages.ru.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  _data/uk/strings.json
  po/_docs.uk.po
  po/_pages.uk.po
Due: weblate merge conflict

Translated using Weblate: German (de) by Christoph Ackermann <weblate@ewok-factory.ch>
  po/_pages.de.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Rafael Fontenelle <rafaelff@gnome.org>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: German (de) by Hans-Fritz Pommes <valarmmail@gmx.de>
  po/_pages.de.po
Due: none

Translated using Weblate: Hebrew (he) by ginger-co <ginger_co@outlook.com>
  po/_docs.he.po
  po/_pages.he.po
  po/_posts.he.po
Due: none

Translated using Weblate: German (de) by Severin Hamader <severin.hamader@yahoo.de>
  po/_pages.de.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_pages.he.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
  po/_docs.zh_Hans.po
  po/_pages.zh_Hans.po
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_pages.id.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_pages.de.po
Due: weblate merge conflict

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_pages.de.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Stevezxc <stevezxc@qq.com>
  po/_pages.zh_Hant.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Kuba <weblate.undercut450@passmail.net>
  po/_pages.pl.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

Revert blanking out of some strings in Albanian (sq)
  _data/sq/strings.json
Due: weblate merge conflict

fix page links
  po/_pages.ar.po
  po/_pages.ca.po
  po/_pages.cs.po
  po/_pages.es.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fi.po
  po/_pages.fr.po
  po/_pages.he.po
  po/_pages.hu.po
  po/_pages.is.po
  po/_pages.it.po
  po/_pages.ja.po
  po/_pages.pl.po
  po/_pages.pt.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.zh_Hans.po
  po/_pages.zh_Hant.po
Due: none

tools/check-do-not-translate
  po/_pages.ar.po
  po/_pages.bo.po
  po/_pages.ca.po
  po/_pages.cs.po
  po/_pages.es.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fr.po
  po/_pages.hu.po
  po/_pages.is.po
  po/_pages.it.po
  po/_pages.ja.po
  po/_pages.ko.po
  po/_pages.pl.po
  po/_pages.pt.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.tr.po
  po/_pages.zh_Hant.po
Due: none

tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

remove obsolete strings
  po/_pages.ar.po
  po/_pages.bn.po
  po/_pages.bo.po
  po/_pages.ca.po
  po/_pages.cs.po
  po/_pages.de.po
  po/_pages.es.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fi.po
  po/_pages.fr.po
  po/_pages.gd.po
  po/_pages.gl.po
  po/_pages.he.po
  po/_pages.hi.po
  po/_pages.hu.po
  po/_pages.id.po
  po/_pages.is.po
  po/_pages.it.po
  po/_pages.ja.po
  po/_pages.ko.po
  po/_pages.lv.po
  po/_pages.nb.po
  po/_pages.nn.po
  po/_pages.pl.po
  po/_pages.pt.po
  po/_pages.pt_BR.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.ta.po
  po/_pages.te.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.zh_Hans.po
  po/_pages.zh_Hant.po
Due: none

Donate page copy update
  _pages/donate.md
Due: YAML Front Matter

Year 2025 post
  _posts/2026-01-23-fdroid-in-2025-strengthening-our-foundations-in-a-changing-mobile-landscape.md
Due: YAML Front Matter

spelling fixes (yes, the website is still set to en_GB)
  .spelling
  _posts/2026-01-23-fdroid-in-2025-strengthening-our-foundations-in-a-changing-mobile-landscape.md
Due: YAML Front Matter

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
  po/_pages.cs.po
Due: weblate merge conflict

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
