Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: German (de) by Ettore Atalan <atalanttore@googlemail.com>
  po/_docs.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_docs.cs.po
  po/_posts.cs.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Turkish (tr) by Bora Atıcı <boratici.acc@gmail.com>
  _data/tr/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  _data/ru/strings.json
  po/_docs.ru.po
  po/_pages.ru.po
  po/_posts.ru.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  _data/pt/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  po/_pages.ar.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
  po/_docs.ro.po
  po/_pages.ro.po
Due: weblate merge conflict

fix page links
  po/_docs.ro.po
Due: none

tools/check-do-not-translate
  po/_docs.de.po
  po/_docs.ro.po
  po/_docs.zh_Hans.po
  po/_posts.de.po
Due: none

TWIF 2025-01-30
  _posts/2025-01-30-twif.md
Due: YAML Front Matter

Build_Metadata_Reference - fix NDK typo
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

Document how to use the Get it on F-Droid badges
  _docs/Badges.md
  _pages/docs.md
Due: YAML Front Matter

OTF grant post
  _posts/2025-02-05-f-droid-awarded-otf-grant.md
Due: YAML Front Matter

Update file _config.yml
  _config.yml
Due: yamllint

TWIF 2025-02-06
  _posts/2025-02-06-twif.md
Due: YAML Front Matter

TWIF - add a bit of text
  _posts/2025-02-06-twif.md
Due: YAML Front Matter

Workaround language being inserted in URL
  _docs/Badges.md
Due: YAML Front Matter

F-Droid: 1.21.1
  .htaccess
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_posts.cs.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: French (fr) by Karim ABDELLAH GODARD <karim.abdellah@gmail.com>
  _data/fr/strings.json
  po/_posts.fr.po
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_posts.ru.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  po/_docs.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_pages.pt.po
Due: none

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  _data/ca/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by José Roberto <jrobertogaguinho@gmail.com>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Turkish (tr) by polarwood <polarwood@users.noreply.hosted.weblate.org>
  po/_docs.tr.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
