Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_docs.ro.po
Due: none

Translated using Weblate: Portuguese (pt) by Guilherme <guilhermelibsoa@gmail.com>
  po/_docs.pt.po
Due: none

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  _data/id/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Persian (fa) by علی زارع <a.zare.developer@gmail.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  _data/is/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Doctorredits_here <182783629+doctorreditshere@users.noreply.github.com>
  po/_posts.id.po
Due: none

fix page links: sed -i 's,] (,](,g' po/_*.po*
  po/_posts.id.po
Due: none

tools/check-do-not-translate
  po/_posts.de.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_posts.cs.po
Due: none

Translated using Weblate: Czech (cs) by slrslr <adm@prnet.info>
  po/_docs.cs.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_pages.cs.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_posts.ru.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_pages.zh_Hans.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  po/_pages.id.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  _data/ca/strings.json
  _data/ca/tutorials.json
  po/_docs.ca.po
  po/_pages.ca.po
Due: weblate merge conflict

Revert "tools/check-do-not-translate"
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_pages.de.po
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  po/_docs.uk.po
  po/_pages.uk.po
  po/_posts.uk.po
Due: none

Use defer instead of async when loading donate.js
  index.md
Due: none

Show all screenshot sizes
  _layouts/package.html
Due: none

Include apksigner alternative keytool command
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

Post for feedback about the community council nominations.
  _posts/2025-01-27-community-council-nominations-feedback.md
Due: YAML Front Matter

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
