Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Finnish (fi) by Juli <julimiro@posteo.net>
  po/_pages.fi.po
Due: none

Translated using Weblate: Finnish (fi) by Tuomas Hietala <tuomas.hietala@iki.fi>
  _data/fi/strings.json
Due: weblate merge conflict

remove obsolete translations
  po/_pages.fi.po
Due: none

Translated using Weblate: Serbian (sr) by Саша Петровић <salepetronije@gmail.com>
  _data/sr/strings.json
Due: weblate merge conflict

Translated using Weblate: Serbian (sr) by NEXI <nexiphotographer@gmail.com>
  _data/sr/strings.json
Due: weblate merge conflict

fix page links
  po/_pages.fi.po
Due: none

Translated using Weblate: Estonian (et) by kyberneetik <cybernaut@tuta.com>
  _data/et/strings.json
  po/_docs.et.po
  po/_posts.et.po
Due: weblate merge conflict

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
  po/_pages.hr.po
Due: weblate merge conflict

Translated using Weblate: Galician (gl) by Yago Raña Gayoso <yago.rana.gayoso@gmail.com>
  po/_pages.gl.po
Due: none

Translated using Weblate: Estonian (et) by Priit Jõerüüt <jrthwlate@users.noreply.hosted.weblate.org>
  _data/et/strings.json
  po/_docs.et.po
Due: weblate merge conflict

Translated using Weblate: Gaelic (gd) by GunChleoc <fios@foramnagaidhlig.net>
  _data/gd/strings.json
  po/_pages.gd.po
Due: weblate merge conflict

Translated using Weblate: Norwegian Bokmål (nb) by Telaneo <post@telaneo.net>
  _data/nb/strings.json
  _data/nb/tutorials.json
  po/_pages.nb.po
  po/_posts.nb.po
Due: weblate merge conflict

Translated using Weblate: Estonian (et) by kyberneetik <cybernaut@tuta.com>
  po/_docs.et.po
Due: none

Translated using Weblate: Bulgarian (bg) by 109247019824 <109247019824@users.noreply.hosted.weblate.org>
  _data/bg/strings.json
Due: weblate merge conflict

Translated using Weblate: Lithuanian (lt) by Marija Grineviciute <marijagrine@protonmail.com>
  _data/lt/strings.json
  _data/lt/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Croatian (hr) by Vid <vid.maricic@protonmail.com>
  po/_pages.hr.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.et.po
  po/_pages.fi.po
  po/_pages.gl.po
  po/_posts.et.po
  po/_posts.nb.po
Due: none

remove obsolete translations
  po/_docs.et.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
Due: none

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  po/_pages.is.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_posts.id.po
Due: none

Build_Metadata_Reference - update categories
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

TWIF 2025-10-03
  _posts/2025-10-03-twif.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Ray <ray@users.noreply.hosted.weblate.org>
  _data/zh_Hant/strings.json
  po/_posts.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: Italian (it) by Francesco Di Vi <francescodv@tutamail.com>
  _data/it/strings.json
  po/_docs.it.po
  po/_pages.it.po
  po/_posts.it.po
Due: weblate merge conflict

Translated using Weblate: Korean (ko) by 안세훈 <on9686@gmail.com>
  po/_docs.ko.po
  po/_pages.ko.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.ja.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
  po/_pages.ta.po
Due: none

Legal Series - Four
  _posts/2025-10-06-when-authorities-come-knocking-how-to-handle-requests-for-information.md
Due: YAML Front Matter

convert to UNIX line feeds
  _posts/2025-10-06-when-authorities-come-knocking-how-to-handle-requests-for-information.md
Due: YAML Front Matter

apply my edits from https://gitlab.com/fdroid/fdroid-website/-/merge_requests/1407#note_2801371667
  _posts/2025-10-06-when-authorities-come-knocking-how-to-handle-requests-for-information.md
Due: YAML Front Matter

change post date to today
  _posts/2025-10-07-when-authorities-come-knocking-how-to-handle-requests-for-information.md
Due: YAML Front Matter

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_docs.he.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
Due: none

Translated using Weblate: French (fr) by Johanie Martin Lafond <omgwtfgtfoomw@gmail.com>
  po/_posts.fr.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  po/_posts.fr.po
Due: none
