Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Indonesian (id) by Taufik Adi Wicaksono <taufikadi.wicaksono@tutamail.com>
  _data/id/strings.json
  po/_pages.id.po
Due: weblate merge conflict

Translated using Weblate: Korean (ko) by Myeongjin Lee <aranet100@gmail.com>
  _data/ko/strings.json
  _data/ko/tutorials.json
  po/_pages.ko.po
Due: weblate merge conflict

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  _data/id/strings.json
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by "M. Fatih Uluçam" <mulucam@gmail.com>
  po/_docs.tr.po
  po/_pages.tr.po
  po/_posts.tr.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
Due: weblate merge conflict

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

TWIF 2025-05-08
  _posts/2025-05-08-twif.md
Due: YAML Front Matter

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by elid <shopisrael12@gmail.com>
  _data/he/strings.json
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
  po/_docs.he.po
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
  po/_docs.ar.po
  po/_pages.ar.po
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by 439JBYL80IGQTF25UXNR0X1BG <439JBYL80IGQTF25UXNR0X1BG@users.noreply.hosted.weblate.org>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Taufik Adi Wicaksono <taufikadi.wicaksono@tutamail.com>
  _data/id/strings.json
  po/_pages.id.po
  po/_posts.id.po
Due: weblate merge conflict

Bring back file_size_translations for Hebrew (he)
  _data/he/strings.json
Due: weblate merge conflict

Build_Metadata_Reference - add binary link
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

TWIF 2025-05-15
  _posts/2025-05-15-twif.md
Due: YAML Front Matter

add HTTP 451 Unavailable For Legal Reasons error page
  _pages/451.md
Due: YAML Front Matter

repost: Complete, reproducible app distribution achieved
  _posts/2015-02-11-complete-reproducible-app-distribution-achieved.md
Due: YAML Front Matter

Reproducible Builds: fix syntax for two links
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_pages.he.po
Due: none

Translated using Weblate: Spanish (es) by Jaime Marquínez Ferrándiz <jaime.marquinez.ferrandiz@fastmail.net>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by elid <shopisrael12@gmail.com>
  po/_pages.he.po
Due: none

Translated using Weblate: Turkish (tr) by Nuri KÜÇÜKLER <enatsek@gmail.com>
  _data/tr/strings.json
Due: weblate merge conflict

run tools/check-do-not-translate
  po/_docs.bo.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

🧾 add funding.json
  .well-known/funding-manifest-urls
  _config.yml
  funding.json
Due: yamllint

post: Making reproducible builds visible
  .spelling
  _docs/Verification_Server.md
  _posts/2025-05-21-making-reproducible-builds-visible.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  _data/uk/strings.json
  po/_docs.uk.po
  po/_posts.uk.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Arabic (ar) by abdelbasset jabrane <naminio201@users.noreply.hosted.weblate.org>
  po/_posts.ar.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
