Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Revert "Translated using Weblate: Portuguese (Brazil) (pt_BR) by Hans-Christoph Steiner <hans@eds.org>"
  po/_docs.es.po
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Hans-Christoph Steiner <hans@eds.org>
  po/_docs.es.po
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: German (de) by Masowick <Demian@gmx.co.uk>
  po/_docs.de.po
  po/_posts.de.po
Due: none

TWIF 2026-07-09
  _posts/2026-07-09-twif.md
Due: YAML Front Matter

Translated using Weblate: Russian (ru) by andrey <andrey@mailbox.org>
  po/_posts.ru.po
Due: none

Translated using Weblate: French (fr) by Nifou <nifou@mailfence.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: German (de) by Masowick <Demian@gmx.co.uk>
  po/_docs.de.po
  po/_pages.de.po
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Japanese (ja) by Aster <coil4129@users.noreply.hosted.weblate.org>
  po/_docs.ja.po
  po/_posts.ja.po
Due: none

Remove endorsement of censored mirror at mirrors.tuna.tsinghua.edu.cn
  _data/rsync_mirrors.yaml
Due: none

twif 20260716
  _posts/2026-07-16-twif.md
Due: YAML Front Matter

TWIF 2026-07-24
  _posts/2026-07-24-twif.md
Due: YAML Front Matter

Add FAQ about hide F-Droid approaches and misc text fixes
  _docs/FAQ_-_Client.md
Due: YAML Front Matter

Apply 1 suggestion(s) to 1 file(s)
  _docs/FAQ_-_Client.md
Due: YAML Front Matter

Reproducible build: add trim-paths feature of cargo
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Apply 1 suggestion(s) to 1 file(s)
  _docs/Whitelabel_Builds.md
Due: YAML Front Matter

Whitelabel_Builds - add info on preinstalled repos for 2.0
  _docs/Whitelabel_Builds.md
Due: YAML Front Matter

Apply 2 suggestion(s) to 1 file(s)
  _docs/Whitelabel_Builds.md
Due: YAML Front Matter

TWIF 2026-07-31
  _posts/2026-07-31-twif.md
Due: YAML Front Matter

TWIF 2026-08-07
  _posts/2026-08-07-twif.md
Due: YAML Front Matter

TWIF 2026-08-14
  _posts/2026-08-14-twif.md
Due: YAML Front Matter

List supported JDKs
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

cleanup app developer FAQ
  _docs/FAQ_-_App_Developers.md
Due: YAML Front Matter

🪙 update `Donate` Metadata reference: array, taler
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

👛 add taler to app developer faq
  _docs/FAQ_-_App_Developers.md
Due: YAML Front Matter

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  _data/es/strings.json
  po/_docs.es.po
  po/_posts.es.po
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Maxim Proskurnya <max@pin2.me>
  po/_docs.ru.po
Due: none

Translated using Weblate: Russian (ru) by Igor Polyakov <igorpolyakov@protonmail.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Ukrainian (uk) by Шмат Кави <koristuvachua@gmail.com>
  _data/uk/strings.json
  po/_docs.uk.po
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Crythmi <crythmi@kryspak.com>
  po/_docs.cs.po
Due: none

Translated using Weblate: Russian (ru) by andrey <andrey@mailbox.org>
  po/_docs.ru.po
Due: none

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  _data/ru/strings.json
  po/_docs.ru.po
  po/_pages.ru.po
Due: weblate merge conflict

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
Due: weblate merge conflict
