Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Czech (cs) by Filip Klopec <filipklopec@gmail.com>
  _data/cs/strings.json
Due: weblate merge conflict

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  _data/id/strings.json
Due: weblate merge conflict

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

revert blanked out strings in Albanian
  _data/sq/strings.json
Due: weblate merge conflict

Add Link to demo for Repomaker
  _pages/repomaker.md
Due: YAML Front Matter

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  _data/id/strings.json
  po/_docs.id.po
  po/_pages.id.po
  po/_posts.id.po
Due: weblate merge conflict

Translated using Weblate: Catalan (ca) by Ander Romero <anderromeroaldana@gmail.com>
  _data/ca/strings.json
Due: weblate merge conflict

Translated using Weblate: Italian (it) by glemco <32201227+glemco@users.noreply.github.com>
  _data/it/strings.json
Due: weblate merge conflict

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  _data/is/strings.json
  po/_pages.is.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  _data/de/strings.json
  po/_docs.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by StarSkyGeminid <akungithubku@gmail.com>
  po/_pages.id.po
Due: none

repomaker: show demo URL directly
  _pages/repomaker.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_pages.ar.po
  po/_pages.bg.po
  po/_pages.bo.po
  po/_pages.ca.po
  po/_pages.cs.po
  po/_pages.de.po
  po/_pages.es.po
  po/_pages.eu.po
  po/_pages.fa.po
  po/_pages.fi.po
  po/_pages.fr.po
  po/_pages.gd.po
  po/_pages.gl.po
  po/_pages.he.po
  po/_pages.hi.po
  po/_pages.hu.po
  po/_pages.id.po
  po/_pages.is.po
  po/_pages.it.po
  po/_pages.ja.po
  po/_pages.ko.po
  po/_pages.nn.po
  po/_pages.pl.po
  po/_pages.pot
  po/_pages.pt.po
  po/_pages.pt_BR.po
  po/_pages.ro.po
  po/_pages.ru.po
  po/_pages.sq.po
  po/_pages.ta.po
  po/_pages.te.po
  po/_pages.tr.po
  po/_pages.uk.po
  po/_pages.zh_Hans.po
  po/_pages.zh_Hant.po
Due: none

2026-02-09-twif - fosdem video is live
  _posts/2026-02-09-twif.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_pages.de.po
Due: none

Translated using Weblate: Korean (ko) by Sabrina <hello@cherryband.space>
  _data/ko/strings.json
  po/_pages.ko.po
Due: weblate merge conflict

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  po/_pages.sq.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_pages.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_pages.he.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/strings.json
Due: weblate merge conflict

TWIF 2026-02-20
  _posts/2026-02-20-twif.md
Due: YAML Front Matter

Apply 3 suggestion(s) to 1 file(s)
  _posts/2026-02-20-twif.md
Due: YAML Front Matter

Delete 2026-02-20-twif - will reopen MR
  _posts/2026-02-20-twif.md
Due: YAML Front Matter

Typo fix in 2026-02-20-twif.md
  _posts/2026-02-20-twif.md
Due: YAML Front Matter

Inclusion Policy: the big update!
  .spelling
  _docs/Inclusion_Policy.md
Due: YAML Front Matter

Translated using Weblate: Italian (it) by Marco <marcxosm@gmail.com>
  _data/it/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by CDN <git@cdn0x12.dev>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Indonesian (id) by xorchi <jperkasa8@gmail.com>
  po/_pages.id.po
Due: none

Translated using Weblate: Spanish (es) by José Manuel Díaz Tenorio <josemanueldiaztenorio267@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict
