Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_pages.ja.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_docs.pt.po
Due: none

Translated using Weblate: French (fr) by Lula Bye <translate.cylinder716@passinbox.com>
  po/_docs.fr.po
  po/_pages.fr.po
Due: none

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  _data/it/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  po/_pages.id.po
Due: none

fix page links
  po/_pages.ja.po
Due: none

run tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_docs.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_docs.he.po
  po/_posts.he.po
Due: none

Translated using Weblate: Ukrainian (uk) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_docs.uk.po
Due: none

tools/check-do-not-translate: android code blocks have translatable bits
  tools/check-do-not-translate
Due: none

post: fix bullet list syntax
  _posts/2025-03-04-even-my-keyboard-is-built-reproducibly.md
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.es.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: YAML Front Matter

Typos 2025-03-04-even-my-keyboard-is-built-reproducibly.md
  _posts/2025-03-04-even-my-keyboard-is-built-reproducibly.md
Due: YAML Front Matter

gitlab-ci: markdownlint job to check .md files in merge requests
  .gitlab-ci.yml
  .mdlrc
  README.md
  _docs/Build_Metadata_Reference.md
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

purge TRANSLATIONS.md, it is unmaintained and replaced
  TRANSLATIONS.md
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_posts.cs.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_posts.ru.po
Due: none

sed -i 's,build reproducible verified,verified reproducibly built,' po/*.po*
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
  po/_posts.ca.po
Due: none

TWIF 2025-03-06
  _posts/2025-03-06-twif.md
Due: YAML Front Matter

typos 2025-03-04-even-my-keyboard-is-built-reproducibly.md
  _posts/2025-03-04-even-my-keyboard-is-built-reproducibly.md
Due: YAML Front Matter

Update post typo translation
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

gitlab-ci: "weblate merge conflict" should run on anything in po/
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

revert _posts.de.po conflict
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  po/_docs.is.po
Due: none

typos 2025-03-04-even-my-keyboard-is-built-reproducibly.md
  po/_posts.de.po
Due: none

markdownlint: remove MD014
  .mdlrc
Due: none

Reproducible build: add doc about clang version string in .comment section
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Add <h3> to indicate the search context
  _includes/sidebar-search.html
  _layouts/default-package-sidebar.html
  _layouts/default.html
Due: none

Pass vars to include_cached instead of relying on context
  _includes/sidebar-search.html
  _layouts/default-package-sidebar.html
  _layouts/default.html
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_docs.cs.po
  po/_posts.cs.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
