Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

add path to python file
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

checks for when no commits are picked
  tools/pick-complete-translations.py
Due: none

fix ci
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

add rectifications
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

add gitlab ci yml
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

push chnages to branch
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

add weblate ci link
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

changes to ci as per Hans' recommendation
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Check branch of git
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

add _ in export values
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

changes to gitlab-ci.yml
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

check cherry-picks
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

final ci pipeline
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

remove --force flag
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

fix gitlab-ci file
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

revert gitlab-ci to original version
  .gitlab-ci.yml
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Inclusion_Policy - re-add binary section
  _docs/Inclusion_Policy.md
Due: YAML Front Matter

docs: fix fastlane path
  _docs/All_About_Descriptions_Graphics_and_Screenshots.md
Due: YAML Front Matter

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  _data/de/strings.json
  _data/pt/strings.json
  po/_docs.pt.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  _data/de/strings.json
  po/_docs.de.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
  po/_docs.zh_Hans.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by F Bausch <fbausch@users.noreply.hosted.weblate.org>
  po/_docs.pt_BR.po
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: German (de) by Leo Wipfler <leo.wipfler@gmail.com>
  po/_docs.de.po
Due: none

Translated using Weblate: Portuguese (pt) by Hans-Christoph Steiner <hans@guardianproject.info>
  _data/pt/strings.json
Due: weblate merge conflict

fix page links
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  _data/cs/strings.json
  po/_docs.cs.po
  po/_pages.cs.po
  po/_posts.cs.po
Due: weblate merge conflict

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  _data/is/strings.json
Due: weblate merge conflict

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
Due: weblate merge conflict

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

Revert blanked strings in Albanian (sq)
  _data/sq/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Supaplex <bejokeup@gmail.com>
  _data/zh_Hant/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by 439JBYL80IGQTF25UXNR0X1BG <439jbyl80igqtf25uxnr0x1bg@users.noreply.hosted.weblate.org>
  _data/ru/strings.json
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Yago Raña Gayoso <yago.rana.gayoso@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  _data/id/strings.json
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Sylvain Pichon <service@spichon.fr>
  _data/fr/strings.json
Due: weblate merge conflict

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
