Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

TWIF 2025-04-24
  _posts/2025-04-24-twif.md
Due: YAML Front Matter

Twif fix typo
  _posts/2025-04-24-twif.md
Due: YAML Front Matter

Use correct name for FMD
  _posts/2025-04-24-twif.md
Due: YAML Front Matter

add "Reproducible Builds" link on all package pages
  _data/strings.json
  _layouts/package.html
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_posts.cs.po
Due: none

Add documentation for build flavors metadata locations
  _docs/All_About_Descriptions_Graphics_and_Screenshots.md
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

All our APIs: add signer index and other improvements
  .spelling
  _docs/All_our_APIs.md
Due: YAML Front Matter

robots.txt: include list of top AI bots, as reported by Cloudflare
  robots.txt
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/strings.json
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  _data/id/strings.json
Due: weblate merge conflict

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
  po/_docs.ar.po
  po/_pages.ar.po
Due: weblate merge conflict

robots.txt: even more AI crawlers
  robots.txt
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

run tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

NGI Mobifree funds client app overhaul
  _posts/2025-04-29-mobifree-client-funding.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  po/_docs.uk.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

Make "Learn more!" translatable
  _data/strings.json
  _layouts/package.html
Due: weblate merge conflict

Improve Inclusion How-To
  _docs/Inclusion_How-To.md
Due: YAML Front Matter

Remove mention of fdroid-anyone
  _docs/FAQ_-_General.md
Due: YAML Front Matter

make-twif: fix error when there is no diff
  tools/make-twif.py
Due: none

TWIF 2025-05-01
  _posts/2025-05-01-twif.md
Due: YAML Front Matter

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
  po/_docs.cs.po
  po/_posts.cs.po
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  _data/uk/strings.json
  po/_posts.uk.po
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/strings.json
  po/_docs.ja.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
