Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_docs.es.po
Due: none

Build Metadata Reference: fix spelling errors
  .spelling
  _docs/Build_Metadata_Reference.md
  _docs/Build_Server_Setup.md
  _docs/Importing_Applications.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.el.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hant.po
Due: none

fix page links
  po/_docs.es.po
  po/_docs.ru.po
Due: none

run tools/check-do-not-translate
  po/_docs.ro.po
Due: none

update jekyll-fdroid to latest version
  Gemfile
Due: none

deploy jekyll-fdroid!94 (thanks @leoheitmannruiz)
  Gemfile
Due: none

post: Verified first-time installs
  _posts/2024-12-11-verified-first-time-installs.md
Due: YAML Front Matter

Fix osd.xml
  osd.xml
Due: none

post: Security of the updates automation
  .spelling
  _posts/2024-12-13-security-of-the-updates-automation.md
Due: YAML Front Matter

TWIF 2024-12-12
  _posts/2024-12-12-twif.md
Due: YAML Front Matter

Submitting_to_F-Droid_Quick_Start_Guide - remove Java17 from sudo example and text
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
Due: YAML Front Matter

Add Community Council nominations extension post
  _posts/2024-12-14-community-council-nominations-extension.md
Due: YAML Front Matter

Reproducible_Builds - mention CARGO_HOME
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

OpenCollective -> Open Collective
  _docs/Build_Metadata_Reference.md
  _docs/FAQ_-_App_Developers.md
  _docs/Inclusion_Policy.md
  _pages/about.md
  _pages/donate.md
  _posts/2020-07-20-donations-with-free-software.md
Due: YAML Front Matter

TWIF 2024-12-19
  _posts/2024-12-19-twif.md
Due: YAML Front Matter

Docs: list max chars for metadata fields
  _docs/All_About_Descriptions_Graphics_and_Screenshots.md
Due: YAML Front Matter

TWIF 2024-12-26
  _posts/2024-12-26-twif.md
Due: YAML Front Matter

Reproducible build: note about add_link_options
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Update file .htaccess
  .htaccess
Due: none

Optimize assets/phone-frame.png
  assets/phone-frame.png
Due: none

TWIF 2025-01-02
  _posts/2025-01-02-twif.md
Due: YAML Front Matter

fix quote
  _posts/2025-01-02-twif.md
Due: YAML Front Matter

typos
  _posts/2025-01-02-twif.md
Due: YAML Front Matter

run tools/check-gen-android-permissions.py
  _data/android_permissions.json
Due: none

Translated using Weblate: Italian (it) by Tomiri <luzzidaniele130@gmail.com>
  po/_pages.it.po
Due: none

Translated using Weblate: Russian (ru) by Dmitry <dmitrydmitry761@gmail.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <mgorpinic2005@gmail.com>
  _data/uk/strings.json
  po/_docs.uk.po
  po/_pages.uk.po
  po/_posts.uk.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@inbox.lv>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_docs.cs.po
  po/_posts.cs.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  _data/ru/strings.json
  po/_docs.ru.po
  po/_posts.ru.po
Due: weblate merge conflict

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_docs.de.po
Due: none

Translated using Weblate: Spanish (es) by inesre <inesre21@gmail.com>
  po/_posts.es.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

Translated using Weblate: French (fr) by Armand Camponovo <contact@camarm.dev>
  po/_posts.fr.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by William Linna <william.linna@gmail.com>
  _data/zh_Hant/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by danesic131 <danesic131@iminko.com>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: French (fr) by Sylvain Pichon <Sp_@users.noreply.hosted.weblate.org>
  po/_pages.fr.po
Due: none
