Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Grzegorz Szymaszek <gszymaszek@short.pl>
  _data/pl/strings.json
  po/_docs.pl.po
  po/_pages.pl.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Rafael Fontenelle <rafaelff@gnome.org>
  _data/pt_BR/strings.json
  po/_pages.pt_BR.po
Due: weblate merge conflict

robots: update policy for disallowing AI training bots
  _includes/head.html
  robots.txt
Due: none

Translated using Weblate: Arabic (ar) by "E. Ta." <eta00823@gmail.com>
  po/_posts.ar.po
Due: none

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Hans-Christoph Steiner <hans@guardianproject.info>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: Catalan (ca) by fadelkon <fadelkon@posteo.net>
  po/_posts.ca.po
Due: none

Translated using Weblate: Italian (it) by Eric Papais <spyrotsk@users.noreply.hosted.weblate.org>
  po/_pages.it.po
Due: none

Translated using Weblate: Spanish (es) by Adolfo Jayme Barrientos <fitojb@ubuntu.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by Estakisha <sanadie4023@gmail.com>
  po/_docs.ar.po
  po/_pages.ar.po
  po/_posts.ar.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_pages.ja.po
Due: none

Translated using Weblate: French (fr) by Sylvain Pichon <service@spichon.fr>
  po/_docs.fr.po
Due: none

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  po/_pages.id.po
Due: none

Translated using Weblate: Catalan (ca) by poc senderi <pocsenderi@protonmail.com>
  _data/ca/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by devanille <devanille@mailbox.org>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Maxim Proskurnya <max@pin2.me>
  _data/ru/strings.json
  po/_pages.ru.po
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by emma peel <emma.peel@riseup.net>
  po/_docs.id.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  _data/id/strings.json
  po/_docs.id.po
  po/_posts.id.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  po/_docs.es.po
  po/_posts.fr.po
  po/_posts.id.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_posts.id.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
  po/_pages.pl.po
  po/_posts.pt.po
Due: none

fix page links
  po/_pages.ar.po
Due: none

run tools/check-do-not-transltae
  po/_docs.id.po
  po/_docs.pl.po
  po/_docs.ro.po
  po/_posts.pt.po
Due: none

enable hr
  _config.yml
Due: yamllint

run tools/check-do-not-translate
  po/_pages.hr.po
Due: none

Build Server Setup: python3-clint -> python3-progress
  _docs/Build_Server_Setup.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

Build Server Setup: bullseye -> trixie
  _docs/Build_Server_Setup.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

Build Server Setup: fix markdownlint
  _docs/Build_Server_Setup.md
Due: YAML Front Matter

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
  po/_pages.hr.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

Translated using Weblate: French (fr) by Thomas Martial <thomas.martial@posteo.com>
  po/_docs.fr.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
  po/_pages.hr.po
  po/_pages.it.po
  po/_posts.ar.po
  po/_posts.ca.po
Due: none

Build_Metadata_Reference - remove comments
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

run tools/check-do-not-translate
  po/_posts.ar.po
  po/_posts.ca.po
Due: none
