Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Serbian (sr) by Đorđe Vasiljević <djordje.vasiljevich@gmail.com>
  _data/sr/strings.json
Due: weblate merge conflict

Translated using Weblate: Basque (eu) by Alex Gabilondo <alexgabi@disroot.org>
  po/_docs.eu.po
  po/_pages.eu.po
Due: none

Translated using Weblate: Serbian (sr) by Hierax Swiftwing <hierax.oligopsony@slmail.me>
  _data/sr/strings.json
Due: weblate merge conflict

Translated using Weblate: Latvian (lv) by Edgars Andersons <Edgars+Weblate@gaitenis.id.lv>
  po/_pages.lv.po
Due: none

Update translation files
  _data/fi/strings.json
Due: weblate merge conflict

Translated using Weblate: Serbian (sr) by Andrija Djakovic <bozika331@yahoo.com>
  _data/sr/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Danish (da) by Luna <social.pvxuu@slmail.me>
  _data/da/strings.json
Due: weblate merge conflict

Translated using Weblate: Latvian (lv) by Edgars Andersons <Edgars+Weblate@gaitenis.id.lv>
  po/_posts.lv.po
Due: none

Translated using Weblate: Greek (el) by Λευθέρης Τρόμπακας <lefteristrompakas@gmail.com>
  _data/el/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Danish (da) by SnueSnue <isthistheis@gmail.com>
  _data/da/strings.json
Due: weblate merge conflict

Translated using Weblate: Latvian (lv) by "Coool (github.com/Coool)" <coool@mail.lv>
  po/_posts.lv.po
Due: none

Translated using Weblate: Serbian (sr) by Reno Tx <renotx@users.noreply.hosted.weblate.org>
  _data/sr/strings.json
  _data/sr/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Slovak (sk) by Martin M <mclenin666@protonmail.com>
  _data/sk/strings.json
Due: weblate merge conflict

Translated using Weblate: Galician (gl) by kuriokurio <kuriokurio@proton.me>
  _data/gl/strings.json
Due: weblate merge conflict

Translated using Weblate: Danish (da) by cat <catsnote@proton.me>
  _data/da/strings.json
Due: weblate merge conflict

Translated using Weblate: Dutch (nl) by fincentxyz <fincentxyz@users.noreply.hosted.weblate.org>
  _data/nl/strings.json
Due: weblate merge conflict

Translated using Weblate: Serbian (sr) by Reno Tx <renotx@users.noreply.hosted.weblate.org>
  _data/sr/strings.json
Due: weblate merge conflict

Translated using Weblate: Basque (eu) by Asier Iturralde Sarasola <asier.iturralde@aldatsa.eus>
  po/_pages.eu.po
Due: none

Translated using Weblate: Dutch (nl) by Stephan Paternotte <stephan@paternottes.net>
  _data/nl/strings.json
Due: weblate merge conflict

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  po/_docs.ca.po
Due: none

fix page links
  po/_docs.ca.po
  po/_docs.eu.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.sq.po
  po/_posts.ta.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hant.po
Due: none

tools/i18n.sh --all
  po/_docs.el.po
  po/_docs.eu.po
  po/_pages.bg.po
  po/_pages.bn.po
  po/_pages.et.po
  po/_pages.eu.po
  po/_pages.lv.po
  po/_posts.de.po
  po/_posts.he.po
  po/_posts.lv.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.zh_Hans.po
Due: none

Move giving tuesday post earlier one day so that it is published just prior to Giving Tuesday.
  _posts/2024-12-02-giving-tuesday.md
Due: YAML Front Matter

Revert "Move giving tuesday post earlier one day so that it is published just prior to Giving Tuesday."
  _posts/2024-12-03-giving-tuesday.md
Due: YAML Front Matter

Translated using Weblate: Basque (eu) by Asier Iturralde Sarasola <asier.iturralde@aldatsa.eus>
  _data/eu/strings.json
  po/_pages.eu.po
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_posts.he.po
Due: none

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by Ettore Atalan <atalanttore@googlemail.com>
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@inbox.lv>
  po/_posts.zh_Hans.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
