Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: French (fr) by Armand Camponovo <contact@camarm.dev>
  po/_docs.fr.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  _data/pt_BR/strings.json
  po/_docs.pt_BR.po
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Doctorredits_here <alkaf.alkaf2018@tutamail.com>
  po/_docs.id.po
Due: none

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  po/_docs.ca.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_posts.he.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Kevin <kevin329@gmail.com>
  _data/zh_Hant/strings.json
  po/_pages.zh_Hant.po
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by dabao1955 <dabao1955@163.com>
  _data/ja/strings.json
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by goknarbahceli <goknarbahceli@proton.me>
  po/_docs.tr.po
Due: none

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  po/_pages.is.po
Due: none

fix page links
  po/_docs.cs.po
  po/_docs.id.po
Due: none

run tools/check-do-not-translate
  po/_docs.es.po
Due: none

delete old cruft strings
  po/_docs.es.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
Due: none

Sort categories to a list
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

Reproducible build: tweak vcs info related doc
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

TWIF 2025-01-09
  _posts/2025-01-09-twif.md
Due: YAML Front Matter

Reproducible_Builds - add info on r8 and agp fixes
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

TWIF 2025-01-16
  _posts/2025-01-16-twif.md
Due: YAML Front Matter

Update payment menthods table
  _data/strings.json
  _pages/donate.md
Due: weblate merge conflict, YAML Front Matter

Fix typo
  _posts/2024-12-13-security-of-the-updates-automation.md
Due: YAML Front Matter

post: a look back at 2024
  .spelling
  _posts/2025-01-21-a-look-back-at-2024-f-droids-progress-and-whats-coming-in-2025.md
Due: YAML Front Matter

make twif - update RSS link
  tools/make-twif.py
Due: none

TWIF 2025-01-23
  _posts/2025-01-23-twif.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  _data/zh_Hans/strings.json
  po/_docs.zh_Hans.po
  po/_posts.zh_Hans.po
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  _data/uk/strings.json
  po/_docs.uk.po
  po/_posts.uk.po
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Guo XYL <Jyxyl9@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
  po/_docs.cs.po
  po/_pages.cs.po
  po/_posts.cs.po
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by tortugacamaleon <trazoysuspiro@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/strings.json
  po/_pages.ja.po
Due: weblate merge conflict

Translated using Weblate: Korean (ko) by SeonGn J <kitrew979@gmail.com>
  _data/ko/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_docs.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  po/_docs.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: Turkish (tr) by Bora Atıcı <boratici.acc@gmail.com>
  po/_docs.tr.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  po/_docs.ru.po
  po/_pages.ru.po
  po/_posts.ru.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
