Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_posts.he.po
Due: none

Security Model: document DNSSEC and DNS CAA
  _docs/Security_Model.md
Due: YAML Front Matter

Fix broken link to ~help-wanted issues
  _posts/2017-10-10-fdroid-is-1.0.md
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.et.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.nb.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.ta.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.cs.po
  po/_docs.et.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
Due: none

run tools/check-do-not-translate
  po/_posts.he.po
Due: none

Build Metadata Reference: AllowedAPKSigningKeys only supports single signer
  _docs/Build_Metadata_Reference.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_docs.es.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Polish (pl) by Grzegorz Bak <fgb@interia.pl>
  po/_docs.pl.po
Due: none

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  po/_pages.hu.po
Due: none

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  po/_pages.fa.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by JT <sedosanxb@mozmail.com>
  po/_docs.zh_Hant.po
Due: none

2024-10-10-twif - fix typo
  _posts/2024-10-10-twif.md
Due: YAML Front Matter

Draft: TWIF 2024-10-24
  _posts/2024-10-34-twif.md
Due: YAML Front Matter

typos
  _posts/2024-10-34-twif.md
Due: YAML Front Matter

TWIF 2024-10-24
  _posts/2024-10-24-twif.md
Due: YAML Front Matter

Fix F-Droid.apk url
  .htaccess
Due: none

TWIF 2024-10-31
  _posts/2024-10-31-twif.md
Due: YAML Front Matter

Encode F-Droid.apk instead of FDroid.apk in QR code
  assets/download-fdroid-qr.png
Due: none

TWIF 2024-11-07
  _posts/2024-11-07-twif.md
Due: YAML Front Matter

handle both /app/package.name and /app/package.name/ formats Closes: #371
  .htaccess
Due: none

migrate production builds off of `gitlab-runner exec`
  .gitlab-ci.yml
  tools/docker-cmd-f-droid.org.sh
  tools/docker-cmd-staging.f-droid.org.sh
Due: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Deploying the Website: remove obsolete sections
  _docs/Deploying_the_Website.md
Due: YAML Front Matter

Bump jekyll-fdroid
  Gemfile
Due: none

Show package video
  _data/strings.json
  _layouts/package.html
Due: weblate merge conflict

TWIF 2024-11-14
  _posts/2024-11-14-twif.md
Due: YAML Front Matter

typo
  _posts/2024-11-14-twif.md
Due: YAML Front Matter

git safe.directory in docker container no longer needs .git/ at the end
  tools/docker-cmd-f-droid.org.sh
Due: none

tools/docker-cmd-f-droid.org.sh: mkdir _site after git clean
  tools/docker-cmd-f-droid.org.sh
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  po/_posts.pl.po
Due: none

Translated using Weblate: Czech (cs) by ikanakova <ikanakova@users.noreply.hosted.weblate.org>
  po/_docs.cs.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  _data/pl/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  po/_docs.pl.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  _data/pl/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by The Cats <philosoph@danwin1210.de>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  _data/pl/strings.json
Due: weblate merge conflict
