Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Turkish (tr) by Cabbar Hayıroğlu <halil48efe@gmail.com>
  po/_pages.tr.po
Due: none

Translated using Weblate: French (fr) by Sylvain Pichon <service@spichon.fr>
  po/_pages.fr.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Rafael Fontenelle <rafaelff@gnome.org>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by UDP <udp@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hant.po
  po/_posts.zh_Hant.po
Due: none

fix page links
  po/_pages.fr.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_docs.pt.po
Due: none

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  _data/is/strings.json
Due: weblate merge conflict

run tools/post-release-translation-merge.sh
  po/_docs.zh_Hant.po
  po/_posts.id.po
  po/_posts.pt_BR.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

Translated using Weblate: Albanian (sq) by Flavjo Avdiu <flavjoavdiu10@gmail.com>
  po/_posts.sq.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  po/_posts.sq.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.pt.po
  po/_posts.sq.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_pages.id.po
  po/_posts.id.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_posts.de.po
Due: none

Translated using Weblate: Spanish (es) by Francisco Serrador <fserrador@gmail.com>
  po/_docs.es.po
  po/_posts.es.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by UDP <udp@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hant.po
  po/_pages.zh_Hant.po
  po/_posts.zh_Hant.po
Due: none

Translated using Weblate: Icelandic (is) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_docs.is.po
  po/_posts.is.po
Due: none

README: prod runs on bookworm since !1030
  README.md
Due: none

TWIF 2026-05-08
  _posts/2026-05-08-twif.md
Due: YAML Front Matter

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_pages.pt.po
Due: none

Added XMPP channel/group chat hosted at movim. Also added TG joining link.
  _pages/about.md
Due: YAML Front Matter

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  _data/hu/strings.json
  po/_pages.hu.po
Due: weblate merge conflict

Merge inclusion howto and quick start guide with some more content
  .htaccess
  _docs/FAQ_-_App_Developers.md
  _docs/FAQ_-_General.md
  _docs/Inclusion_How-To.md
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
  _pages/docs.md
Due: YAML Front Matter

Update how to help
  .htaccess
  _docs/How_to_Help.md
  _docs/How_to_update_an_app.md
Due: YAML Front Matter

TWIF 2026-05-14
  _posts/2026-05-14-twif.md
Due: YAML Front Matter

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
  po/_pages.hr.po
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by Sergio Granadoz <granadozsergio42@gmail.com>
  po/_docs.ar.po
  po/_docs.sq.po
  po/_pages.ar.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  po/_docs.sq.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_docs.id.po
Due: none

Translated using Weblate: Arabic (ar) by Basheer Radman <ba2014sheer@gmail.com>
  po/_docs.ar.po
  po/_docs.ru.po
  po/_pages.ar.po
  po/_posts.ar.po
Due: none

Translated using Weblate: Russian (ru) by Maxim Proskurnya <max@pin2.me>
  po/_pages.ru.po
Due: none

Translated using Weblate: Russian (ru) by Romeostar <contactromeostar@mail.ru>
  po/_pages.ru.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  po/_pages.ru.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  po/_pages.ar.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_pages.ar.po
  po/_pages.es.po
  po/_pages.pl.po
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Arabic (ar) by Basheer Radman <ba2014sheer@gmail.com>
  po/_pages.ar.po
Due: none
