Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  _data/es/strings.json
  po/_posts.es.po
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Jerry L <2109731454@qq.com>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Russian (ru) by 439JBYL80IGQTF25UXNR0X1BG <439JBYL80IGQTF25UXNR0X1BG@users.noreply.hosted.weblate.org>
  _data/ru/strings.json
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Adolfo Jayme Barrientos <fitojb@ubuntu.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Nicolás Pérez <nicoperez241@proton.me>
  _data/es/strings.json
  po/_pages.es.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by cacu <carlosm2@riseup.net>
  po/_pages.es.po
Due: none

Translated using Weblate: Spanish (es) by trikaphundo <trikaphundo@users.noreply.hosted.weblate.org>
  po/_pages.es.po
Due: none

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  po/_docs.es.po
Due: none

Translated using Weblate: Spanish (es) by Iago <translate@delthia.com>
  po/_docs.es.po
Due: none

Translated using Weblate: French (fr) by Ἥλιος <mu6mj1y62@mozmail.com>
  _data/fr/strings.json
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_pages.id.po
Due: none

Translated using Weblate: Turkish (tr) by Cabbar Hayıroğlu <halil48efe@gmail.com>
  _data/tr/strings.json
  po/_pages.tr.po
Due: weblate merge conflict

fix page links
  po/_posts.zh_Hans.po
Due: none

Fix the inconsistent capitalisation of language names
  _data/languagenames.json
  tools/gen-language-names.py
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Fix whitespace in YAML frontmatter
  _posts/2026-02-24-open-letter-opposing-developer-verification.md
Due: YAML Front Matter

Apply 1 suggestion(s) to 1 file(s)
  _posts/2026-02-24-open-letter-opposing-developer-verification.md
Due: YAML Front Matter

Edits to blog post
  _posts/2026-02-24-open-letter-opposing-developer-verification.md
Due: YAML Front Matter

Add blog post: Open Letter Opposing Android Developer Verification
  _posts/2026-02-24-open-letter-opposing-developer-verification.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

2026-02-24-open-letter-opposing-developer-verification - 2 consistency fixes
  _posts/2026-02-24-open-letter-opposing-developer-verification.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_posts.ro.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Ray <ray@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hant.po
Due: none

sed -i 's,lockdown ,lock-down ,g' po/_posts.*
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

sed -i 's, advanced flow , \\"advanced flow\\" ,g' po/_posts.*
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

Update config to build using index-v2
  _config.yml
Due: yamllint

Upgrade packages layout in preparation for index-v2
  _data/strings.json
  _layouts/package.html
  _sass/_layout.scss
Due: weblate merge conflict

Update fdroid/jekyll-fdroid to latest commit
  Gemfile
Due: none

Update jekyll-polyglot to v1.11.0 (latest) and use the upstream repository
  Gemfile
Due: none

Enhanced locale chooser for more robust handling of script and country
  _config.yml
  _plugins/locale-chooser.rb
Due: yamllint

order nav bar by most used, left to right descending
  _data/navigation.yaml
Due: none

Fixup Package layout for index-v2
  _layouts/package.html
Due: none

about: bring back description of the legal entity
  _pages/about.md
Due: YAML Front Matter

docs: remove refs to `RepoType:` `bzr` `git-svn` `hg` and `svn`
  _docs/Build_Metadata_Reference.md
  tools/check-do-not-translate
Due: YAML Front Matter

tools/i18n.sh: use msgattrib to remove "obsolete" strings
  tools/i18n.sh
Due: none
