Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Apply 1 suggestion(s) to 1 file(s)
  _posts/2026-09-01-twif.md
Due: YAML Front Matter

Translated using Weblate: Russian (ru) by vityatii <vitya.molodets.000@gmail.com>
  po/_docs.ru.po
  po/_posts.ru.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
  po/_posts.ja.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
  po/_posts.de.po
Due: none

TWIF 2026-09-11
  _posts/2026-09-11-twif.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_posts.de.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by veroandi <veroandi.wcs@gmail.com>
  po/_docs.pt_BR.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: Turkish (tr) by Volkan Belek <vlkanblek@gmail.com>
  po/_docs.tr.po
  po/_posts.tr.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_docs.cs.po
  po/_posts.cs.po
Due: none

Translated using Weblate: Russian (ru) by hyperflint <yourflint@tutamail.com>
  po/_posts.ru.po
Due: none

Translated using Weblate: Catalan (ca) by Joan Montané <jmontane@gmail.com>
  _data/ca/strings.json
  po/_docs.ca.po
  po/_pages.ca.po
  po/_posts.ca.po
Due: weblate merge conflict

Translated using Weblate: Persian (fa) by Goudarz Jafari <hi@goudarzjafari.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Polish (pl) by Przemysław Waleczny <undastyle@users.noreply.hosted.weblate.org>
  po/_docs.pl.po
Due: none

Tiny tweak, changing the URL of the server used in the example, to align with RFC 2606.
  _docs/Setup_an_F-Droid_App_Repo.md
Due: YAML Front Matter

sed -i s,mysecureserver,example,g */*.md po/*.po* sed -i s,мійбезпечнийсервер.укр,example.com,g */*.md po/*.po*
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  _data/ca/strings.json
  _data/ca/tutorials.json
Due: weblate merge conflict

TWIF 2026-09-18
  _posts/2026-09-18-twif.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  po/_posts.uk.po
Due: none

Translated using Weblate: Italian (it) by Hanamichi27 <183348368+Hanamichi27@users.noreply.github.com>
  _data/it/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Bruno de Paula <tahwvdi7654388@proton.me>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Russian (ru) by Maxim Proskurnya <max@pin2.me>
  po/_posts.ru.po
Due: none

F-Droid App 2.0 release post
  .spelling
  _posts/2026-09-24-f-droid-2.0-a-new-chapter-for-android-freedom.md
  assets/posts/2026-06-18-fdroid-2.0-is-out-now/discover.png
  assets/posts/2026-06-18-fdroid-2.0-is-out-now/my_apps.png
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.es.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

allow the "anymore" spelling since we use it as an adverb
  .spelling
Due: none

"walkthrough" is the correct spelling
  .spelling
Due: none

tools/check-do-not-translate: fill in `<img src=""` if empty
  tools/check-do-not-translate
Due: none

Translated using Weblate: Russian (ru) by Дмитрий Михирев <bizdelnick@gmail.com>
  po/_posts.ru.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Hosted Weblate user 54392 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: German (de) by Ruedin <ruedin@gmx.net>
  po/_posts.de.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Douglas Silva <doug.hs@proton.me>
  po/_posts.pt_BR.po
Due: none

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  po/_docs.ca.po
  po/_posts.ca.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by kak mi <wavelake@outlook.com>
  po/_posts.zh_Hans.po
Due: none
