Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Polish (pl) by Mr Mati <mati7042@users.noreply.hosted.weblate.org>
  po/_docs.pl.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  _data/id/strings.json
Due: weblate merge conflict

Translated using Weblate: Hungarian (hu) by Mihály Dávid Milán <randommail_721@protonmail.com>
  _data/hu/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_posts.fr.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
  po/_docs.he.po
  po/_pages.he.po
  po/_posts.he.po
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_docs.cs.po
Due: none

Translated using Weblate: French (fr) by Hēphaistos <hephaistos@users.noreply.hosted.weblate.org>
  po/_docs.fr.po
  po/_pages.fr.po
  po/_posts.fr.po
Due: none

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  po/_pages.fa.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by OlliesGudh <github@paulogomez.anonaddy.com>
  _data/pt_BR/strings.json
  po/_docs.pt_BR.po
  po/_posts.pt_BR.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_docs.fr.po
  po/_pages.fr.po
Due: none

Translated using Weblate: Turkish (tr) by furkan geldi <furkangeldi@gmail.com>
  _data/tr/strings.json
  po/_posts.tr.po
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Akif <akifvar5067@gmail.com>
  _data/tr/strings.json
  po/_docs.tr.po
  po/_posts.tr.po
Due: weblate merge conflict

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  po/_docs.is.po
  po/_posts.is.po
Due: none

Translated using Weblate: Korean (ko) by Myeongjin <aranet100@gmail.com>
  _data/ko/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Hēphaistos <hephaistos@users.noreply.hosted.weblate.org>
  po/_pages.fr.po
Due: none

Albanian: restore translations that we blanked in 7ed5a9ff26
  _data/sq/strings.json
Due: weblate merge conflict

run tools/check-do-not-translate
  po/_docs.pt.po
Due: none

fix page links
  po/_docs.pt.po
  po/_docs.tr.po
  po/_pages.bn.po
  po/_pages.fr.po
  po/_posts.lv.po
Due: none

sed -i 's,@fdroid\.net,@f-droid.org,ig' */*.md po/*po*
  po/_posts.lv.po
Due: none

remove obsolete translation strings
  po/_docs.sq.po
  po/_docs.vi.po
Due: none

tools/i18n.sh --all
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
  po/_pages.bg.po
  po/_pages.bn.po
  po/_pages.et.po
  po/_pages.lv.po
  po/_posts.lv.po
Due: none

tools/check-page-links.py: show error messages from parsing po files
  tools/check-page-links.py
Due: none

script to remove obsolete strings gettext includes
  tools/check-obsolete-strings.py
Due: none

tools/check-do-not-translate
  po/_docs.fr.po
  po/_docs.ja.po
  po/_docs.tr.po
Due: none

run tools/check-obsolete-strings.py
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

All_About_Descriptions_Graphics_and_Screenshots: subdir: fastlane support
  _docs/All_About_Descriptions_Graphics_and_Screenshots.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
  po/_posts.ta.po
Due: none

tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Security Model: fix markdownlint errors
  _docs/Security_Model.md
Due: YAML Front Matter

Security Model: TLS certificate transparency
  _docs/Security_Model.md
Due: YAML Front Matter

Security Model: links to TLSv1.0/TLSv1.1 removal
  _docs/Security_Model.md
Due: YAML Front Matter

TWIF 2025-07-31
  _posts/2025-07-31-twif.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim5@gmail.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
  po/_posts.ja.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_docs.ro.po
Due: none

tools/check-obsolete-strings.py: skip when it would cause conflict
  tools/check-obsolete-strings.py
Due: none

Legal Series - One
  _posts/2025-08-01-legal-one.md
Due: YAML Front Matter

make-twif - fix python 3.10 compat
  tools/make-twif.py
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
