Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

run tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

remove obsolete strings
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

TWIF 2025-07-10
  _posts/2025-07-10-twif.md
Due: YAML Front Matter

Apply 4 suggestion(s) to 1 file(s)
  _posts/2025-07-10-twif.md
Due: YAML Front Matter

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  _data/ro/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by linsui <linsui@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  _data/de/strings.json
  po/_docs.de.po
  po/_posts.de.po
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim5@gmail.com>
  po/_docs.uk.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict

Update reproducible build document
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Remove UpstreamNonFree AntiFeature
  _data/strings.json
  _docs/Anti-Features.md
  _docs/Build_Metadata_Reference.md
Due: weblate merge conflict, YAML Front Matter

20250717 twif
  _posts/2025-07-17-twif.md
Due: YAML Front Matter

hide "Download F-Droid" button on the org.fdroid.basic button
  _layouts/package.html
Due: none

Polish reproducible build doc to make it more clear
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

TWIF 2025-07-24
  _posts/2025-07-24-twif.md
Due: YAML Front Matter

faq - add link to repro
  _docs/FAQ_-_General.md
Due: YAML Front Matter

Translated using Weblate: Latvian (lv) by Edgars Andersons <Edgars+Weblate@gaitenis.id.lv>
  _data/lv/strings.json
  po/_pages.lv.po
  po/_posts.lv.po
Due: weblate merge conflict

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
Due: weblate merge conflict

Translated using Weblate: Swedish (sv) by Marcus skoding <ggd7cnc9m@mozmail.com>
  _data/sv/strings.json
  _data/sv/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Serbian (sr) by Reno Tx <renotx@users.noreply.hosted.weblate.org>
  _data/sr/strings.json
Due: weblate merge conflict

Translated using Weblate: Estonian (et) by Priit Jõerüüt <hwlate@joeruut.com>
  _data/et/strings.json
Due: weblate merge conflict

Translated using Weblate: Danish (da) by cat <catsnote@proton.me>
  _data/da/strings.json
  _data/da/tutorials.json
Due: weblate merge conflict

Translated using Weblate: Danish (da) by Sebastian <sebastiankiwidk@gmail.com>
  _data/da/strings.json
  _data/hy/strings.json
Due: weblate merge conflict

Translated using Weblate: Estonian (et) by Priit Jõerüüt <hwlate@joeruut.com>
  _data/et/strings.json
  po/_pages.et.po
Due: weblate merge conflict

Translated using Weblate: Estonian (et) by je-vee <janerikv87@gmail.com>
  po/_pages.et.po
Due: none

Translated using Weblate: Bengali (bn) by Kom nake <kominak310@svcache.com>
  _data/bn/strings.json
  po/_pages.bn.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <git@alius.cz>
  _data/cs/strings.json
  po/_pages.cs.po
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  _data/ja/strings.json
  po/_docs.ja.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  _data/pt/strings.json
  po/_docs.pt.po
  po/_pages.pt.po
  po/_posts.pt.po
Due: weblate merge conflict

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  _data/sq/strings.json
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by ginger-co <ginger_co@outlook.com>
  _data/he/strings.json
  po/_docs.he.po
  po/_pages.he.po
  po/_posts.he.po
Due: weblate merge conflict

Translated using Weblate: Bulgarian (bg) by 109247019824 <109247019824@users.noreply.hosted.weblate.org>
  _data/bg/strings.json
Due: weblate merge conflict

Translated using Weblate: Kabyle (kab) by ButterflyOfFire <boffire@users.noreply.hosted.weblate.org>
  _data/kab/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Romeostar <contactromeostar@mail.ru>
  _data/ru/strings.json
  po/_posts.ru.po
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by mahmutozcan <mahmutozcan@protonmail.com>
  _data/tr/strings.json
  po/_docs.tr.po
  po/_pages.tr.po
Due: weblate merge conflict

Translated using Weblate: Uyghur (ug) by Abduqadir Abliz <sahranbay@gmail.com>
  _data/ug/strings.json
Due: weblate merge conflict
