Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: Persian (fa) by Goudarz Jafari <me@goudarzjafari.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  po/_docs.ro.po
Due: none

Translated using Weblate: Catalan (ca) by Joan Pujolar <joan.pujolar@gmail.com>
  po/_docs.ca.po
  po/_posts.ca.po
Due: none

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  _data/ca/strings.json
  po/_pages.ca.po
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Juzé <dedakir923@exoular.com>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
Due: none

run tools/check-do-not-translate
  po/_docs.ja.po
  po/_docs.uk.po
Due: none

Move funding.json to under `exclude_from_localization`
  _config.yml
Due: yamllint

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_pages.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  po/_docs.uk.po
Due: none

TWIF 2025-05-22
  _posts/2025-05-22-twif.md
Due: YAML Front Matter

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic4@gmail.com>
  po/_posts.uk.po
Due: none

Fixed formatting for `wellKnown' attribute
  funding.json
Due: none

funding.json: updates from the call with floss.fun
  funding.json
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
  po/_docs.he.po
  po/_pages.he.po
  po/_posts.he.po
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by slrslr <adm@prnet.info>
  po/_docs.cs.po
Due: none

TWIF 2025-05-29
  _posts/2025-05-29-twif.md
Due: YAML Front Matter

enable ca and eu
  _config.yml
Due: yamllint

Add Basque language
  _posts/2024-11-10-basque-language.md
  assets/aldatsa.jpg
Due: YAML Front Matter

Catalan translation
  _posts/2025-06-01-catalan-language.md
  assets/pitroig.jpg
Due: YAML Front Matter

post: basque language change date
  _posts/2025-06-01-basque-language.md
Due: YAML Front Matter

2025-05-29 twif: Mark unofficial clients as unofficial
  _posts/2025-05-29-twif.md
Due: YAML Front Matter

Reproducible build: remove an example
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

Removed DivestOS from the list.
  _docs/Get_F-Droid.md
Due: YAML Front Matter

twif - update link
  _posts/2025-05-29-twif.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <git@alius.cz>
  po/_posts.cs.po
Due: none

Translated using Weblate: Japanese (ja) by watanabe takanobu <rreedd555@gmail.com>
  po/_docs.ja.po
  po/_posts.ja.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  _data/pt/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
  po/_docs.ar.po
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by metezd <metezd@users.noreply.hosted.weblate.org>
  po/_docs.tr.po
Due: none

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  _data/ca/strings.json
  _data/ca/tutorials.json
  po/_docs.ca.po
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Bora Atıcı <boratici.acc@gmail.com>
  po/_pages.tr.po
  po/_posts.tr.po
Due: none

Translated using Weblate: Korean (ko) by rainy5810 <karl0227@teamngt.by-works.net>
  _data/ko/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (pt) by Mateus <techseven167@gmail.com>
  po/_posts.pt.po
Due: none

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
