Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

weblate merge conflict:
  stage: deploy
  script:
  ...

shellcheck:
  stage: deploy
  image: debian:bookworm-slim
  script:
  ...

Vagrantfile:
  stage: deploy
  script:
  ...

YAML Front Matter:
  stage: deploy
  script:
  ...

yamllint:
  stage: deploy
  script:
  ...

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  _data/fr/tutorials.json
Due: weblate merge conflict

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_pages.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by Ingo Knito <hosted.weblate.imnetz@neverbox.com>
  po/_docs.de.po
Due: none

run tools/post-release-translation-merge.sh
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.fr.po
  po/_posts.de.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Stevezxc <stevezxc@qq.com>
  po/_docs.zh_Hant.po
  po/_posts.zh_Hant.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_posts.de.po
Due: none

TWIF 2026-01-02
  _posts/2026-01-02-twif.md
Due: YAML Front Matter

Added milotype as translation contributor at Weblate
  _data/contributors.yaml
Due: none

Update the Quick Start Guide
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
Due: YAML Front Matter

Post: 5 years of UnifiedPush
  _posts/2026-01-08-unifiedpush-5-years.md
  assets/S1m.jpg
Due: YAML Front Matter

TWIF 2026-01-09
  _posts/2026-01-09-twif.md
Due: YAML Front Matter

Revert "TWIF 2026-01-09"
  _posts/2026-01-09-twif.md
Due: YAML Front Matter

TWIF 2026-01-16
  _posts/2026-01-16-twif.md
Due: YAML Front Matter

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  _data/hu/tutorials.json
  po/_pages.hu.po
Due: weblate merge conflict

Translated using Weblate: Hungarian (hu) by Péter Reszegi <rpetya1704@gmail.com>
  _data/hu/tutorials.json
  po/_posts.hu.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/tutorials.json
  po/_docs.fr.po
Due: weblate merge conflict

fix page links
  po/_docs.fr.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Stevezxc <stevezxc@qq.com>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
  po/_docs.he.po
  po/_posts.he.po
Due: weblate merge conflict

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_posts.id.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Andre-Wa <andreaasc@outlook.com.br>
  po/_docs.pt_BR.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  _data/fr/tutorials.json
  po/_posts.fr.po
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Lautaro de Vega <aurolaut@proton.me>
  _data/es/strings.json
  po/_pages.es.po
Due: weblate merge conflict

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_posts.uk.po
Due: none

remove obsolete strings
  po/_docs.id.po
  po/_docs.ja.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
Due: none

Apply 1 suggestion(s) to 1 file(s)
  _posts/2026-01-16-twif.md
Due: YAML Front Matter

addmoreinfo
  _posts/2026-01-16-twif.md
  assets/posts/2026-01-16-twif/myappsissues.png
Due: YAML Front Matter

Apply 2 suggestion(s) to 1 file(s)
  _posts/2026-01-16-twif.md
Due: YAML Front Matter

TWIF add more info
  _posts/2026-01-16-twif.md
  assets/posts/2026-01-16-twif/myappsissues.png
Due: YAML Front Matter

unifiedpush-5-years - make title smaller
  _posts/2026-01-08-unifiedpush-5-years.md
Due: YAML Front Matter

twif 2026-01-16 - reword
  _posts/2026-01-16-twif.md
Due: YAML Front Matter

twif 2026-01-16 - fix typo
  _posts/2026-01-16-twif.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

run tools/post-release-translation-merge.sh
  po/_docs.de.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.pt_BR.po
  po/_posts.ar.po
  po/_posts.bo.po
  po/_posts.ca.po
  po/_posts.cs.po
  po/_posts.de.po
  po/_posts.el.po
  po/_posts.es.po
  po/_posts.es_MX.po
  po/_posts.fa.po
  po/_posts.fr.po
  po/_posts.he.po
  po/_posts.hu.po
  po/_posts.id.po
  po/_posts.is.po
  po/_posts.it.po
  po/_posts.ja.po
  po/_posts.ko.po
  po/_posts.lv.po
  po/_posts.pl.po
  po/_posts.pot
  po/_posts.pt.po
  po/_posts.pt_BR.po
  po/_posts.ro.po
  po/_posts.ru.po
  po/_posts.sq.po
  po/_posts.te.po
  po/_posts.tr.po
  po/_posts.uk.po
  po/_posts.zh_Hans.po
  po/_posts.zh_Hant.po
Due: none

remove obsolete strings
  po/_docs.de.po
  po/_docs.pt_BR.po
Due: none

Update copyright year to 2026
  _config.yml
Due: yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint
