Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

fix syntax in 5a54cc62196d0404bec0872d8ea49e32f2bc29a4
  .htaccess
Due: none

TWIF 2025-08-28
  _posts/2025-08-28-twif.md
Due: YAML Front Matter

2025-08-28-twif - fix typo
  _posts/2025-08-28-twif.md
Due: YAML Front Matter

Translated using Weblate: Arabic (ar) by Goudarz Jafari <me@goudarzjafari.com>
  _data/ar/strings.json
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  po/_pages.ca.po
Due: none

Reproducible_Builds - remove duplicate string
  _docs/Reproducible_Builds.md
Due: YAML Front Matter

TWIF 2025-09-04
  _posts/2025-09-04-twif.md
Due: YAML Front Matter

Running_a_Mirror - link to client for testing
  _docs/Running_a_Mirror.md
Due: YAML Front Matter

Running_a_Mirror - add stats from today
  _docs/Running_a_Mirror.md
Due: YAML Front Matter

Running a Mirror: clearer info about official mirror promotion
  .spelling
  _docs/Running_a_Mirror.md
Due: YAML Front Matter

Legal post 3
  _posts/2025-09-10-how-foss-projects-handle-legal-takedown-requests.md
Due: YAML Front Matter

Apply 1 suggestion(s) to 1 file(s)
  _posts/2025-09-10-how-foss-projects-handle-legal-takedown-requests.md
Due: YAML Front Matter

TWIF 2025-09-11
  _posts/2025-09-11-twif.md
Due: YAML Front Matter

Translated using Weblate: Portuguese (Brazil) (pt_BR) by F Bausch <florian+weblate@fbausch.de>
  po/_docs.pt_BR.po
Due: none

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  po/_docs.es.po
  po/_pages.es.po
  po/_posts.es.po
Due: none

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  _data/ru/strings.json
  po/_posts.ru.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_posts.fr.po
Due: none

post: clean ups for better translation workflow
  _posts/2025-09-10-how-foss-projects-handle-legal-takedown-requests.md
Due: YAML Front Matter

Translated using Weblate: French (fr) by AO Localisation Lab <ao_localization_lab@users.noreply.hosted.weblate.org>
  po/_pages.fr.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
  po/_posts.ja.po
Due: none

Translated using Weblate: Russian (ru) by Alexander <stabulnik92@gmail.com>
  po/_posts.ru.po
Due: none

fix page links
  po/_docs.pl.po
  po/_posts.fr.po
Due: none

Translated using Weblate: French (fr) by Ἥλιος <mu6mj1y62@mozmail.com>
  po/_pages.fr.po
Due: none

Translated using Weblate: Polish (pl) by Kuba <weblate.undercut450@passmail.net>
  po/_docs.pl.po
Due: none

Translated using Weblate: Spanish (es) by BIENESTAR NARANJOS <bienestarnaranjos@gmail.com>
  po/_pages.es.po
  po/_posts.es.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_pages.pt.po
Due: none

Translated using Weblate: French (fr) by Julien Maulny <julien.maulny@protonmail.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  _data/fr/strings.json
  po/_docs.fr.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by Nota Inutilis <hugo@notainutilis.fr>
  po/_docs.fr.po
Due: none

remove obsolete strings
  po/_docs.ca.po
  po/_docs.de.po
  po/_docs.pt.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
Due: none

All our APIs: explain that the metrics data is not easy to work with
  _docs/All_our_APIs.md
Due: YAML Front Matter

post: EC DMA compliance workshops, closes admin#578
  _posts/2025-09-18-ec-dma-compliance-workshops.md
Due: YAML Front Matter

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  po/_docs.uk.po
  po/_posts.uk.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  po/_posts.he.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by marvel at flowers <qiuhangli_2024@qq.com>
  _data/zh_Hans/strings.json
  _data/zh_Hant/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  _data/ca/strings.json
  po/_pages.ca.po
Due: weblate merge conflict
