Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Update Bitcoin and Litecoin URI to match client
  _layouts/package.html
Due: none

Improve mailto: link and make it match client
  _layouts/package.html
Due: none

Update Open Collective and Liberapay URLs
  _layouts/package.html
Due: none

Update Open Collective URL in sidebar
  _includes/sidebar-donate.md
Due: none

Revert "Update Bitcoin and Litecoin URI to match client"
  _layouts/package.html
Due: none

Revert "Improve mailto: link and make it match client"
  _layouts/package.html
Due: none

TWIF 2024-11-21
  _posts/2024-11-21-twif.md
Due: YAML Front Matter

Improve #289 - Don’t show reproducible builds as being signed by F-Droid
  _data/strings.json
  _layouts/package.html
Due: weblate merge conflict

Translated using Weblate: French (fr) by Florian Lainez <winnerflo@free.fr>
  po/_docs.fr.po
Due: none

Translated using Weblate: Turkish (tr) by metezd <metezd@users.noreply.hosted.weblate.org>
  po/_docs.tr.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Lzebulon <lzebulon@crans.org>
  _data/fr/strings.json
Due: weblate merge conflict

Update docs: app icon is not extracted
  _docs/All_About_Descriptions_Graphics_and_Screenshots.md
Due: YAML Front Matter

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  po/_pages.de.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_pages.zh_Hans.po
Due: none

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  _data/de/strings.json
Due: weblate merge conflict

Translated using Weblate: Italian (it) by Dark Space <darkspace.lvcnr@gmail.com>
  _data/it/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by Ettore Atalan <atalanttore@googlemail.com>
  po/_docs.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
Due: none

Translated using Weblate: Italian (it) by Dark Space <darkspace.lvcnr@gmail.com>
  po/_pages.it.po
Due: none

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  po/_pages.es.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  _data/cs/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  po/_docs.pt_BR.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by dedakir923 <dedakir923@exoular.com>
  po/_pages.pt_BR.po
Due: none

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  po/_docs.ru.po
Due: none

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  _data/ru/strings.json
Due: weblate merge conflict

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  po/_pages.cs.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by dedakir923 <dedakir923@exoular.com>
  _data/pt_BR/strings.json
Due: weblate merge conflict

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  po/_pages.ru.po
Due: none

Translated using Weblate: German (de) by sagresbier <luis.duarte@web.de>
  po/_posts.de.po
Due: none

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  po/_posts.ru.po
Due: none
