Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by reducedradius <137701630+flytothehighest@users.noreply.github.com>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  _data/ru/strings.json
  po/_docs.ru.po
  po/_pages.ru.po
Due: weblate merge conflict

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  po/_pages.tr.po
Due: none

Translated using Weblate: Japanese (ja) by Aster <coil4129@users.noreply.hosted.weblate.org>
  po/_docs.ja.po
  po/_posts.ja.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: Ukrainian (uk) by Andy Callisto <andycallisto@proton.me>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by xiezhihai <xiezhihai7321@outlook.com>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Japanese (ja) by "Maru-ni, Umebachi" <maruniumebachi@users.noreply.hosted.weblate.org>
  po/_docs.ja.po
Due: none

Translated using Weblate: Russian (ru) by andrey <andrey@mailbox.org>
  po/_docs.ru.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  po/_docs.ja.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: French (fr) by Julien Lepiller <roptat@lepiller.eu>
  po/_docs.fr.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  _data/he/strings.json
Due: weblate merge conflict

Translated using Weblate: Hebrew (he) by Idan <idan062@gmail.com>
  _data/he/strings.json
Due: weblate merge conflict

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Hosted Weblate user 54392 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: French (fr) by Brice SOULIVONG <soulivongb@gmail.com>
  po/_docs.fr.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Kayky <okayky2350@gmail.com>
  po/_docs.pt_BR.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_docs.id.po
  po/_posts.id.po
Due: none

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  _data/fa/strings.json
Due: weblate merge conflict

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  po/_docs.ar.po
  po/_pages.ar.po
Due: none

Translated using Weblate: Hebrew (he) by ginger-co <ginger_co@outlook.com>
  _data/he/strings.json
Due: weblate merge conflict

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  po/_pages.fr.po
  po/_posts.fr.po
Due: none

Translated using Weblate: Japanese (ja) by Deleted User <noreply+26398@weblate.org>
  po/_docs.ja.po
Due: none

Translated using Weblate: Russian (ru) by vityatii <vitya.molodets.000@gmail.com>
  po/_posts.ru.po
Due: none

fix page links
  po/_docs.id.po
Due: none

FAQ - Client: update "How can I hide F-Droid on my system?"
  _docs/FAQ_-_Client.md
Due: YAML Front Matter

run tools/post-release-translation-merge.sh
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

run tools/check-do-not-translate
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

Blog post for F-Droid's visit to FrOSCon 2026.
  _posts/2026-08-31-fdroid-first-froscon-2026.md
Due: YAML Front Matter

Revert "FAQ - Client: update "How can I hide F-Droid on my system?""
  _docs/FAQ_-_Client.md
Due: YAML Front Matter

Uploaded avatar file for Vishal Bakhai
  assets/Vishal Bakhai.jpg
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  _data/uk/strings.json
Due: weblate merge conflict

Translated using Weblate: German (de) by Masowick <Demian@gmx.co.uk>
  po/_docs.de.po
Due: none

Translated using Weblate: German (de) by Masowick <Demian@gmx.co.uk>
  po/_docs.de.po
  po/_posts.de.po
Due: none

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_docs.de.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Hosted Weblate user 54392 <hamburger2048@users.noreply.hosted.weblate.org>
  po/_docs.zh_Hans.po
  po/_posts.zh_Hans.po
Due: none

TWIF 2026-08-28
  _posts/2026-09-01-twif.md
Due: YAML Front Matter

add taler news to upcoming twif
  _posts/2026-09-01-twif.md
Due: YAML Front Matter
