Repository f-droid/fdroid-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: weblate merge conflict, shellcheck, Vagrantfile, YAML Front Matter, yamllint

Path conditions:
  weblate merge conflict: any of: .gitlab-ci.yml, _data/*/strings.json, _data/*/tutorials.json, _data/strings.json, _data/tutorials.json, po/
  shellcheck: any of: .gitlab-ci.yml, tools/check-asset-tags.sh, tools/prepare-for-deploy.sh
  Vagrantfile: any of: .gitlab-ci.yml, Vagrantfile
  YAML Front Matter: any of: .gitlab-ci.yml, _docs/*.md, _pages/*.md, _posts/*.md
  yamllint: any of: .*.yml, *.yml, .yamllint

Translated using Weblate: German (de) by VfBFan <vfbfan@users.noreply.hosted.weblate.org>
  po/_posts.de.po
Due: none

TWIF 2026-06-12
  _posts/2026-06-12-twif.md
Due: YAML Front Matter

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  _data/ar/strings.json
Due: weblate merge conflict

Only reformat string titles
  _plugins/parse-titles.rb
Due: none

Correct typos in `_docs/{Submitting_to_F-Droid_Quick_Start_Guide,All_About_Descriptions_Graphics_and_Screenshots}.md`
  _docs/All_About_Descriptions_Graphics_and_Screenshots.md
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
Due: YAML Front Matter

Amended the forum maintenance more info page.
  _docs/Maintaining_the_Forum.md
Due: YAML Front Matter

fix lint
  _docs/Maintaining_the_Forum.md
Due: YAML Front Matter

Translated using Weblate: Korean (ko) by justcontributor <kty5663@gmail.com>
  _data/ko/strings.json
Due: weblate merge conflict

Add SGG Localization to contributors.yaml Croatian and Bosnian translation
  _data/contributors.yaml
Due: none

TWIF 2026-06-19
  _posts/2026-06-19-twif.md
Due: YAML Front Matter

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  _data/hr/strings.json
  po/_pages.hr.po
Due: weblate merge conflict

TWIF 2026-06-26
  _posts/2026-06-26-twif.md
Due: YAML Front Matter

Blog Post: "What We Talk About When We Talk About Malware"
  _posts/2026-07-01-adv-malware.md
Due: YAML Front Matter

🧹 remove floss fund grant application from funding.json
  funding.json
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  po/_pages.pl.po
  po/_posts.pl.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  po/_pages.pt.po
Due: none

Translated using Weblate: French (fr) by Hans-Christoph Steiner <hans@guardianproject.info>
  po/_pages.fr.po
Due: none

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  po/_pages.ar.po
Due: none

fix page links
  po/_pages.ar.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by reducedradius <137701630+flytothehighest@users.noreply.github.com>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  po/_pages.cs.po
  po/_posts.cs.po
Due: none

Translated using Weblate: French (fr) by Sylvain Pichon <service@spichon.fr>
  po/_pages.fr.po
Due: none

fix failing checks in Weblate
  po/_pages.ar.po
  po/_pages.es.po
  po/_pages.fr.po
  po/_pages.pt.po
  po/_pages.tr.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  _data/fr/strings.json
  po/_pages.fr.po
Due: weblate merge conflict

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  po/_pages.fr.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by reducedradius <flytothehighest@users.noreply.hosted.weblate.org>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Spanish (es) by Juan M Sevilla <jumase@disroot.org>
  _data/es/strings.json
Due: weblate merge conflict

Translated using Weblate: Spanish (es) by Yago Raña Gayoso <yago.rana.gayoso@gmail.com>
  po/_pages.es.po
Due: none

Translated using Weblate: Indonesian (id) by Arif Budiman <arifpedia@gmail.com>
  po/_posts.id.po
Due: none

Turkish: use "free software" term from Wikipedia
  po/_docs.tr.po
  po/_pages.tr.po
Due: none

Translated using Weblate: Spanish (es) by Luis Fernando Illapa <moxb@outlook.es>
  po/_pages.es.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by cookiespter <zoumayisi@163.com>
  po/_posts.zh_Hans.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  po/_pages.sq.po
Due: none

Translated using Weblate: Polish (pl) by Grzegorz Szymaszek <gszymaszek@short.pl>
  po/_posts.pl.po
Due: none

sed -i 's,source repo for for the,source repo for the,' po/*.po*
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.el.po
  po/_docs.es.po
  po/_docs.et.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.pt_BR.po
  po/_docs.ro.po
  po/_docs.ru.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.vi.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

sed -i s,bianry,binary,g po/*.po*
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.ro.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

sed -i s,recommanded,recommended,g po/*.po*
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.ro.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: none

sed -i 's,application id,Application ID,g' po/*.po* */*.md
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.ro.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter

sed -i s,maintaince,maintenance,g po/*.po* */*.md
  _docs/Submitting_to_F-Droid_Quick_Start_Guide.md
  po/_docs.ar.po
  po/_docs.bo.po
  po/_docs.ca.po
  po/_docs.cs.po
  po/_docs.de.po
  po/_docs.es.po
  po/_docs.eu.po
  po/_docs.fa.po
  po/_docs.fr.po
  po/_docs.he.po
  po/_docs.hu.po
  po/_docs.id.po
  po/_docs.is.po
  po/_docs.it.po
  po/_docs.ja.po
  po/_docs.ko.po
  po/_docs.pl.po
  po/_docs.pot
  po/_docs.pt.po
  po/_docs.ro.po
  po/_docs.sq.po
  po/_docs.tr.po
  po/_docs.uk.po
  po/_docs.zh_Hans.po
  po/_docs.zh_Hant.po
Due: YAML Front Matter
